<aside class="main-sidebar">
    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only"></span>
        <span class="inner-circle"></span>
    </a>
    <!-- Sidebar toggle button-->
    <a  class="logo-wrapper">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <!-- <span class="logo-mini mt-2">Asst</span> -->
        <span class="logo-mini mt-2">
          <img style="height: 42px; width: 53px" src="assets/css/patterns/menzies.png">
        </span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg">
          <img style="height: 47px; width: 182px" src="assets/css/patterns/Menzieslogo.png">
      </span>
    </a>
    <!-- Admin Logo Part End -->
    <section class="sidebar" style="height: auto;" id="scrollbar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left info">
                <p></p>
                <p>Admin User</p>
            </div>
        </div>
        <!-- <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>
        </ul> -->
        <div>
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu ps ps--active-y tree" data-widget="tree">
                <li class="menu_assign_class menu__cid1" data-menu__cid="1" [routerLinkActive]="['active']">
                    <!--This variable could not be escaped because this is base url content-->
                    <a routerLink="/Dashboard">
                    <i class="fa fa-home"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li class="treeview menu__cid5">
                  <a [routerLinkActive]="['active']">
                      <i class="fa fa-flag"></i>
                      <span>Alerts</span>
                  </a>
                  <ul class="treeview-menu">
                      <!--This variable could not be escaped because this is base url content-->
                      <li class="menu_assign_class" data-menu__cid="5"><a  [routerLinkActive]="['active']">
                Assets Past Due <span class="badge badge-primary pull-right">0</span></a></li>
                      <!--This variable could not be escaped because this is base url content-->
                      <li class="menu_assign_class" data-menu__cid="5"><a >
                Contract Expiring <span class="badge badge-secondary pull-right">0</span></a></li>
                      <!--This variable could not be escaped because this is base url content-->
                      <li class="menu_assign_class" data-menu__cid="5"><a>
                Insurances Expiring <span class="badge badge-danger pull-right">0</span></a></li>
                      <!--This variable could not be escaped because this is base url content-->
                      <li class="menu_assign_class" data-menu__cid="5"><a>
                Leases Expiring <span class="badge badge-warning pull-right">0</span></a></li>
                      <!--This variable could not be escaped because this is base url content-->
                      <li class="menu_assign_class" data-menu__cid="5"><a>
                Maintenance Due <span class="badge badge-info pull-right">0</span></a></li>
                      <!--This variable could not be escaped because this is base url content-->
                      <li class="menu_assign_class" data-menu__cid="5"><a>
                Maintenance Overdue <span class="badge badge-dark pull-right">0</span></a></li>
                      <!--This variable could not be escaped because this is base url content-->
                      <li class="menu_assign_class" data-menu__cid="5"><a>
                Warranties Expiring<span class="badge badge-secondary pull-right">0</span></a></li>
                  </ul>
              </li>
                <li class="treeview menu__cid5">
                    <a [routerLinkActive]="['active']">
                      <i class="fa fa-puzzle-piece"></i>
                        <span>Assets</span>
                    </a>
                    <ul class="treeview-menu">
                        <!--This variable could not be escaped because this is base url content-->
                        <li class="menu_assign_class" data-menu__cid="5"><a routerLink="/Asset/AssetList" [routerLinkActive]="['active']">
                  List of Assets</a></li>
                        <!--This variable could not be escaped because this is base url content-->
                        <li class="menu_assign_class" data-menu__cid="5"><a routerLink="/Asset/AddAsset">
                  Add an Asset</a></li>
                        <!--This variable could not be escaped because this is base url content-->
                        <li class="menu_assign_class" data-menu__cid="5"><a routerLink="/Asset/Checkout">
                  Check out</a></li>
                        <!--This variable could not be escaped because this is base url content-->
                        <li class="menu_assign_class" data-menu__cid="5"><a routerLink="/Asset/Checkin">
                  Check In</a></li>
                        <!--This variable could not be escaped because this is base url content-->
                        <li class="menu_assign_class" data-menu__cid="5"><a routerLink="/Asset/Lease">
                  Lease</a></li>
                        <!--This variable could not be escaped because this is base url content-->
                        <li class="menu_assign_class" data-menu__cid="5"><a routerLink="/Asset/LeaseReturn">
                  Lease Return</a></li>
                        <!--This variable could not be escaped because this is base url content-->
                        <li class="menu_assign_class" data-menu__cid="5"><a routerLink="/Asset/Dispose">
                  Dispose</a></li>
                        <!--This variable could not be escaped because this is base url content-->
                        <li class="menu_assign_class" data-menu__cid="5"><a routerLink="/Asset/Maintenance">
                   Maintenance</a></li>
                        <!--This variable could not be escaped because this is base url content-->
                        <li class="menu_assign_class" data-menu__cid="5"><a routerLink="/Asset/Move">
                   Move</a></li>
                        <!--This variable could not be escaped because this is base url content-->
                        <li class="menu_assign_class" data-menu__cid="5"><a routerLink="/Asset/Reserve">
                   Reserve</a></li>
                    </ul>
                </li>
                <li class="treeview menu__cid5">
                    <a [routerLinkActive]="['active']">
                      <i class="fa fa-envelope"></i>
                        <span>Reports</span>

                    </a>
                    <ul class="treeview-menu">
                        <!--This variable could not be escaped because this is base url content-->
                        <li class="menu_assign_class" data-menu__cid="5"><a [routerLinkActive]="['active']" routerLink="/Reports/AutomatedReport">
                            Automated Reports</a>
                          </li>
                          <li class="treeview menu__cid6">
                            <a [routerLinkActive]="['active']">
                                <span>Custom Report</span>
                            </a>
                            <ul class="treeview-menu">
                                <!--This variable could not be escaped because this is base url content-->
                                <li class="menu_assign_class" data-menu__cid="6"><a routerLink="/Reports/CustomReport/NewReport">
                                    New Report</a>
                                  </li>
                            </ul>
                        </li>
                        <li class="treeview menu__cid6">
                          <a [routerLinkActive]="['active']">
                              <span>Assets Report</span>
                          </a>
                          <ul class="treeview-menu">
                              <!--This variable could not be escaped because this is base url content-->
                              <li class="menu_assign_class" data-menu__cid="6"><a routerLink="/Reports/AssetReport/ByAssetTag">
                                   by Asset Tag</a>
                                </li>
                                <li class="menu_assign_class" data-menu__cid="6"><a routerLink="/Reports/AssetReport/ByTagWithPicture">
                                  by Tag With Picture</a>
                               </li>
                               <li class="menu_assign_class" data-menu__cid="6"><a routerLink="/Reports/AssetReport/ByCategory">
                                by Category</a>
                              </li>
                              <li class="menu_assign_class" data-menu__cid="6"><a routerLink="/Reports/AssetReport/BySiteLocation">
                                by Site/Location</a>
                              </li>
                              <li class="menu_assign_class" data-menu__cid="6"><a routerLink="/Reports/AssetReport/ByDepartment">
                                by Department</a>
                              </li>
                              <li class="menu_assign_class" data-menu__cid="6"><a routerLink="/Reports/AssetReport/ByWarrantyInfo">
                                by Warranty Info</a>
                              </li>
                              <li class="menu_assign_class" data-menu__cid="6"><a routerLink="/Reports/AssetReport/ByLinkedAsset">
                                by Linked Assets</a>
                              </li>
                          </ul>
                      </li>
                      <li class="treeview menu__cid6">
                        <a [routerLinkActive]="['active']">
                            <span>Audit Report</span>
                        </a>
                        <ul class="treeview-menu">
                            <!--This variable could not be escaped because this is base url content-->
                            <li class="menu_assign_class" data-menu__cid="6"><a routerLink="/Reports/AuditReport/ByAuditAssetTag">
                                 by Asset Tag</a>
                              </li>
                              <li class="menu_assign_class" data-menu__cid="6"><a routerLink="/Reports/AuditReport/ByAuditDate">
                                by Audit Date</a>
                             </li>
                             <li class="menu_assign_class" data-menu__cid="6"><a routerLink="/Reports/AuditReport/ByFunding">
                              by Funding</a>
                            </li>
                            <li class="menu_assign_class" data-menu__cid="6"><a routerLink="/Reports/AuditReport/ByAuditSiteLocation">
                              by Site/Location</a>
                            </li>
                            <li class="menu_assign_class" data-menu__cid="6"><a routerLink="/Reports/AuditReport/LocationDiscrepancy">
                              Location Discrepancy</a>
                            </li>
                            <li class="menu_assign_class" data-menu__cid="6"><a routerLink="/Reports/AuditReport/NonAuditAsset">
                              Non-Audited Assets</a>
                            </li>
                            <li class="menu_assign_class" data-menu__cid="6"><a routerLink="/Reports/AuditReport/NonAuditFunding">
                              Non-Audited Funding</a>
                            </li>
                        </ul>
                    </li>
                     <li class="treeview menu__cid6">
                      <a [routerLinkActive]="['active']">
                          <span>Check-Out Report</span>
                      </a>
                      <ul class="treeview-menu">
                          <!--This variable could not be escaped because this is base url content-->
                          <li class="menu_assign_class" data-menu__cid="6"><a>
                               by Person</a>
                            </li>
                            <li class="menu_assign_class" data-menu__cid="6"><a>
                              by Asset Tag</a>
                           </li>
                           <li class="menu_assign_class" data-menu__cid="6"><a>
                            by Due Date</a>
                          </li>
                          <li class="menu_assign_class" data-menu__cid="6"><a>
                            by Past Due</a>
                          </li>
                          <li class="menu_assign_class" data-menu__cid="6"><a>
                            by Site/Location</a>
                          </li>
                          <li class="menu_assign_class" data-menu__cid="6"><a>
                            in a Time Frame</a>
                          </li>
                      </ul>
                      </li>
                     <li class="treeview menu__cid6">
                    <a [routerLinkActive]="['active']">
                        <span>Contract Report</span>
                    </a>
                    <ul class="treeview-menu">
                        <!--This variable could not be escaped because this is base url content-->
                        <li class="menu_assign_class" data-menu__cid="6"><a>
                             by Contract</a>
                          </li>
                          <li class="menu_assign_class" data-menu__cid="6"><a>
                            by Asset Tag</a>
                         </li>
                         <li class="menu_assign_class" data-menu__cid="6"><a>
                          by Software License</a>
                        </li>
                    </ul>
                     </li>
                     <li class="treeview menu__cid6">
                  <a [routerLinkActive]="['active']">
                      <span>Insurance Report</span>
                  </a>
                  <ul class="treeview-menu">
                      <!--This variable could not be escaped because this is base url content-->
                      <li class="menu_assign_class" data-menu__cid="6"><a>
                           by Insurance</a>
                        </li>
                        <li class="menu_assign_class" data-menu__cid="6"><a>
                          by Asset Tag</a>
                       </li>
                  </ul>
                     </li>
                      <li class="treeview menu__cid6">
                <a [routerLinkActive]="['active']">
                    <span>Depreciation Report</span>
                </a>
                <ul class="treeview-menu">
                    <!--This variable could not be escaped because this is base url content-->
                    <li class="menu_assign_class" data-menu__cid="6"><a>
                         by Category</a>
                      </li>
                      <li class="menu_assign_class" data-menu__cid="6"><a>
                        by Department</a>
                     </li>
                     <li class="menu_assign_class" data-menu__cid="6"><a>
                        For Disposed Asset</a>
                    </li>
                    <li class="menu_assign_class" data-menu__cid="6"><a>
                        Yearly Reports</a>
                    </li>
                    <li class="menu_assign_class" data-menu__cid="6"><a>
                        Quarterly Report</a>
                    </li>
                    <li class="menu_assign_class" data-menu__cid="6"><a>
                      Monthly Report</a>
                    </li>
                </ul>
                      </li>
                        <li class="treeview menu__cid6">
              <a [routerLinkActive]="['active']">
                  <span>Leased Asset Reports</span>
              </a>
              <ul class="treeview-menu">
                  <!--This variable could not be escaped because this is base url content-->
                  <li class="menu_assign_class" data-menu__cid="6"><a>
                       by Customer</a>
                    </li>
                    <li class="menu_assign_class" data-menu__cid="6"><a>
                      by Asset Tag</a>
                   </li>
                   <li class="menu_assign_class" data-menu__cid="6"><a>
                      by Due Date</a>
                  </li>
                  <li class="menu_assign_class" data-menu__cid="6"><a>
                      by Past Date</a>
                  </li>
                  <li class="menu_assign_class" data-menu__cid="6"><a>
                      in a Time Frame</a>
                  </li>
              </ul>
                      </li>
                        <li class="treeview menu__cid6">
            <a [routerLinkActive]="['active']">
                <span>Maintenance Reports</span>
            </a>
            <ul class="treeview-menu">
                <!--This variable could not be escaped because this is base url content-->
                <li class="menu_assign_class" data-menu__cid="6"><a>
                     by Asset Tag</a>
                  </li>
                  <li class="menu_assign_class" data-menu__cid="6"><a>
                    by Assigned Person Tag</a>
                 </li>
                 <li class="menu_assign_class" data-menu__cid="6"><a>
                    History by Asset Tag</a>
                </li>
                <li class="menu_assign_class" data-menu__cid="6"><a>
                    History by Date</a>
                </li>
                <li class="menu_assign_class" data-menu__cid="6"><a>
                    Past Due</a>
                </li>
            </ul>
                        </li>
                         <li class="treeview menu__cid6">
          <a [routerLinkActive]="['active']">
              <span>Reservation Reports</span>
          </a>
          <ul class="treeview-menu">
              <!--This variable could not be escaped because this is base url content-->
              <li class="menu_assign_class" data-menu__cid="6"><a>
                   by Asset Tag</a>
                </li>
          </ul>
                      </li>
                     <li class="treeview menu__cid6">
        <a [routerLinkActive]="['active']">
            <span>Status Reports</span>
        </a>
        <ul class="treeview-menu">
            <!--This variable could not be escaped because this is base url content-->
            <li class="menu_assign_class" data-menu__cid="6"><a>
                 Asset Under Repair</a>
              </li>
              <li class="menu_assign_class" data-menu__cid="6"><a>
                 Broken Assets</a>
             </li>
             <li class="menu_assign_class" data-menu__cid="6"><a>
                Disposed Assets</a>
            </li>
            <li class="menu_assign_class" data-menu__cid="6"><a>
                Donated Assets</a>
            </li>
            <li class="menu_assign_class" data-menu__cid="6"><a>
                Leases Assets</a>
            </li>
            <li class="menu_assign_class" data-menu__cid="6"><a>
              Lost/Missing Assets</a>
          </li>
          <li class="menu_assign_class" data-menu__cid="6"><a>
            Sold Assets</a>
        </li>
        </ul>
                      </li>
                           <li class="treeview menu__cid6">
           <a [routerLinkActive]="['active']">
          <span>Transaction Reports</span>
      </a>
      <ul class="treeview-menu">
          <!--This variable could not be escaped because this is base url content-->
          <li class="menu_assign_class" data-menu__cid="6"><a>
               Add Asset</a>
            </li>
            <li class="menu_assign_class" data-menu__cid="6"><a>
               Broken Assets</a>
           </li>
           <li class="menu_assign_class" data-menu__cid="6"><a>
              Checkout/Check in</a>
          </li>
          <li class="menu_assign_class" data-menu__cid="6"><a>
              Disposed Assets</a>
          </li>
          <li class="menu_assign_class" data-menu__cid="6"><a>
              Donate Assets</a>
          </li>
          <li class="menu_assign_class" data-menu__cid="6"><a>
              Edit Assets</a>
        </li>
        <li class="menu_assign_class" data-menu__cid="6"><a>
          Lease/Lease return</a>
      </li>
      <li class="menu_assign_class" data-menu__cid="6"><a>
        Lost/Missing Assets</a>
    </li>
    <li class="menu_assign_class" data-menu__cid="6"><a>
      Move Assets</a>
  </li>
  <li class="menu_assign_class" data-menu__cid="6"><a>
    Repair Assets</a>
</li>
<li class="menu_assign_class" data-menu__cid="6"><a>
  Reserve Assets</a>
</li>
<li class="menu_assign_class" data-menu__cid="6"><a>
  Sell Assets</a>
</li>
<li class="menu_assign_class" data-menu__cid="6"><a>
  Transaction History</a>
</li>
<li class="menu_assign_class" data-menu__cid="6"><a>
  Action by Users</a>
</li>
      </ul>
                           </li>
                           <li class="treeview menu__cid6">
                            <a [routerLinkActive]="['active']">
                                <span>Other Reports</span>
                            </a>
                            <ul class="treeview-menu">
                                <!--This variable could not be escaped because this is base url content-->
                                <li class="menu_assign_class" data-menu__cid="6"><a>
                                     Customer List</a>
                                  </li>
                                  <li class="menu_assign_class" data-menu__cid="6"><a>
                                      Category List</a>
                                 </li>
                                 <li class="menu_assign_class" data-menu__cid="6"><a>
                                    Department List</a>
                                </li>
                                <li class="menu_assign_class" data-menu__cid="6"><a>
                                    Employee List</a>
                                </li>
                                <li class="menu_assign_class" data-menu__cid="6"><a>
                                    Site/Location List</a>
                                </li>
                                <li class="menu_assign_class" data-menu__cid="6"><a>
                                  Sub Category</a>
                              </li>
                            </ul>
                          </li>
                    </ul>
                </li>

                <li class="treeview menu__cid5">
                  <a [routerLinkActive]="['active']">
                    <i class="fa fa-wrench"></i>
                      <span>Tools</span>
                  </a>
                  <ul class="treeview-menu">
                      <!--This variable could not be escaped because this is base url content-->
                      <li class="menu_assign_class" data-menu__cid="5"><a routerLink="/Tools/Import"  [routerLinkActive]="['active']">
                Import</a></li>
                      <!--This variable could not be escaped because this is base url content-->
                      <li class="menu_assign_class" data-menu__cid="5"><a routerLink="/Tools/Export">
                Export</a></li>
                      <!--This variable could not be escaped because this is base url content-->
                      <li class="menu_assign_class" data-menu__cid="5"><a routerLink="/Tools/DocumentGallery">
                Documents Gallery</a></li>
                      <!--This variable could not be escaped because this is base url content-->
                      <li class="menu_assign_class" data-menu__cid="5"><a routerLink="/Tools/ImageGallery">
                Image Gallery</a></li>
                      <!--This variable could not be escaped because this is base url content-->
                      <li class="menu_assign_class" data-menu__cid="5"><a routerLink="/Tools/Audit">
                Audit</a></li>
                  </ul>
              </li>

              <li class="treeview menu__cid5">
                <a [routerLinkActive]="['active']">
                    <i class="fa fa-briefcase"></i>
                    <span>Advance</span>
                </a>
                <ul class="treeview-menu">
                    <!--This variable could not be escaped because this is base url content-->
                    <li class="menu_assign_class" data-menu__cid="5"><a  [routerLinkActive]="['active']" routerLink="/Advance/ContractLicense">
              Contract/Licenses</a></li>
                    <!--This variable could not be escaped because this is base url content-->
                    <li class="menu_assign_class" data-menu__cid="5"><a routerLink="/Advance/PersonEmployee">
              Persons/Employee</a></li>
                    <!--This variable could not be escaped because this is base url content-->
                    <li class="menu_assign_class" data-menu__cid="5"><a routerLink="/Advance/Customer">
              Customer</a></li>
                    <!--This variable could not be escaped because this is base url content-->
                    <li class="menu_assign_class" data-menu__cid="5"><a routerLink="/Advance/Insurance">
              Insurance</a></li>
                    <!--This variable could not be escaped because this is base url content-->
                    <li class="menu_assign_class" data-menu__cid="5"><a>
              Users</a></li>
              <li class="menu_assign_class" data-menu__cid="5"><a>
                Security Groups</a></li>
                </ul>
            </li>
            <li class="treeview menu__cid5">
              <a [routerLinkActive]="['active']">
                <i class="fa fa-cog"></i>
                <span>Setup</span>
              </a>
              <ul class="treeview-menu">
                  <!--This variable could not be escaped because this is base url content-->
                  <li class="menu_assign_class" data-menu__cid="5"><a  [routerLinkActive]="['active']">
            Company Info.</a></li>
                  <!--This variable could not be escaped because this is base url content-->
                  <li class="menu_assign_class" data-menu__cid="5"><a >
            Sites</a></li>
                  <!--This variable could not be escaped because this is base url content-->
                  <li class="menu_assign_class" data-menu__cid="5"><a>
            Locations</a></li>
                  <!--This variable could not be escaped because this is base url content-->
                  <li class="menu_assign_class" data-menu__cid="5"><a>
            Categories</a></li>
                  <!--This variable could not be escaped because this is base url content-->
                  <li class="menu_assign_class" data-menu__cid="5"><a>
            Sub Categories</a></li>
            <li class="menu_assign_class" data-menu__cid="5"><a>
              Departments</a></li>
              <li class="menu_assign_class" data-menu__cid="5"><a>
                Departments</a></li>

                  <li class="treeview menu__cid6">
                    <a>
                        <span>Databases</span>
                    </a>
                    <ul class="treeview-menu">
                        <!--This variable could not be escaped because this is base url content-->
                        <li class="menu_assign_class" data-menu__cid="6"><a>
                            Assets table</a>
                          </li>
                          <li class="menu_assign_class" data-menu__cid="6"><a>
                            Persons/Employee</a>
                          </li>
                          <li class="menu_assign_class" data-menu__cid="6"><a>
                            Customer Table</a>
                          </li>
                          <li class="menu_assign_class" data-menu__cid="6"><a>
                            Warranty Table</a>
                          </li>
                          <li class="menu_assign_class" data-menu__cid="6"><a>
                            Contract Table</a>
                          </li>
                    </ul>
                </li>
                <li class="menu_assign_class" data-menu__cid="5"><a>
                  Table Options</a></li>
                  <li class="menu_assign_class" data-menu__cid="5"><a>
                   Options</a></li>
                   <li class="menu_assign_class" data-menu__cid="5"><a>
                    Manage Dashboard</a></li>
                    <li class="treeview menu__cid6">
                      <a>
                          <span>Customize Forms</span>
                      </a>
                      <ul class="treeview-menu">
                          <!--This variable could not be escaped because this is base url content-->
                          <li class="menu_assign_class" data-menu__cid="6"><a>
                              Asset Form</a>
                            </li>
                            <li class="menu_assign_class" data-menu__cid="6"><a>
                              Persons/Employee</a>
                            </li>
                            <li class="menu_assign_class" data-menu__cid="6"><a>
                              Customer Form</a>
                            </li>
                            <li class="menu_assign_class" data-menu__cid="6"><a>
                              Maintenance Form</a>
                            </li>
                            <li class="menu_assign_class" data-menu__cid="6"><a>
                              Warranty Form</a>
                            </li>
                            <li class="menu_assign_class" data-menu__cid="6"><a>
                              Contract Form</a>
                            </li>
                      </ul>
                  </li>
                  <li class="menu_assign_class" data-menu__cid="5"><a>
                    Customize Emails</a></li>
              </ul>
          </li>
          <li class="treeview menu__cid5">
            <a [routerLinkActive]="['active']">
             <i class="fa fa-support"></i>
                <span>Help/Support</span>
            </a>
            <ul class="treeview-menu">
                <!--This variable could not be escaped because this is base url content-->
                <li class="menu_assign_class" data-menu__cid="5"><a  [routerLinkActive]="['active']">
          About Us</a></li>
                <!--This variable could not be escaped because this is base url content-->
                <li class="menu_assign_class" data-menu__cid="5"><a >
          Contact Us</a></li>
                <!--This variable could not be escaped because this is base url content-->
                <li class="menu_assign_class" data-menu__cid="5"><a>
          Terms of Service</a></li>
                <!--This variable could not be escaped because this is base url content-->
                <li class="menu_assign_class" data-menu__cid="5"><a>
          Privacy Policy</a></li>
                <!--This variable could not be escaped because this is base url content-->
                <li class="menu_assign_class" data-menu__cid="5"><a>
          Videos</a></li>
                <!--This variable could not be escaped because this is base url content-->
                <li class="menu_assign_class" data-menu__cid="5"><a>
          User Reviews</a></li>
                <!--This variable could not be escaped because this is base url content-->
                <li class="menu_assign_class" data-menu__cid="5"><a>
          Changelog</a></li>
            </ul>
        </li>
        <li class="menu_assign_class menu__cid1" data-menu__cid="1" [routerLinkActive]="['active']">
          <!--This variable could not be escaped because this is base url content-->
          <a routerLink="/Home">
             <i class="fa fa-tags"></i>
              <span>My Asset Tags</span>
          </a>
      </li>
                <div class="ps__rail-x" style="width: 70px; left: 0px; bottom: -501px;">
                    <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                </div>
                <div class="ps__rail-y" style="top: 501px; height: 220px; right: 0px;">
                    <div class="ps__thumb-y" tabindex="0" style="top: 120px; height: 322px;"></div>
                </div>
            </ul>

        </div>
    </section>
    <!-- /.sidebar -->
</aside>
