/*
    ================================================================
    Common Background Color
*/

.bg__red {
    background-color: #e52222;
    color: white;
}

.bg__red:hover {
    background-color: #e52222;
}

.bg__blue {
    background-color: #2196f3;
    color: white;
}

.bg__blue:hover {
    background-color: #2196f3;
}

.bg__purple {
    background-color: #9c27b0;
    color: white;
}

.bg__purple:hover {
    background-color: #9c27b0;
}

.bg__pink {
    background-color: #e91e63;
    color: white;
}

.bg__pink:hover {
    background-color: #e91e63;
}

.bg__green {
    background-color: #8bc34a;
    color: white;
}

.bg__green:hover {
    background-color: #8bc34a;
}

.bg__grey {
    background-color: #607d8b;
}

.bg__grey:hover {
    background-color: #607d8b;
}

.bg__khoyre {
    background-color: #d6b614;
}

.bg__khoyre:hover {
    background-color: #d6b614;
}

.bg__green2 {
    background-color: #31cf41;
}

.bg__green2:hover {
    background-color: #31cf41;
}

.c-flex {
    display: flex;
}


/*Top Main Header*/

.top_header_part {
    background-color: white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    padding: 8px;
}

.top_header_part .header_part_right,
.top_header_part .left_item {
    width: calc(99% / 2);
}

.top_header_part .left_item {
    display: flex;
    justify-content: space-between;
}

.top_header_part .header_part_middle {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.top_header_part .header_part_middle .icon__menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
}

.top_header_part .header_part_middle .icon__menu li {
    position: relative;
}

.top_header_part .header_part_middle .icon__menu li a {
    position: relative;
    padding: 6px 10px;
    display: block;
    color: #22bfe9;
    border-radius: 5px;
}

.top_header_part .header_part_middle .icon__menu li a i {
    font-size: 20px;
}

.top_header_part .header_part_middle .icon__menu li a .c_badge {
    position: absolute;
    top: 0px;
    right: 5px;
    background-color: #ee5372;
    color: white;
    width: 15px;
    height: 15px;
    font-size: 10px;
    border-radius: 50%;
    text-align: center;
}

.top_header_part .header_part_right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.top_header_part .header_part_right .btn__menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.top_header_part .header_part_right .btn__menu li {
    position: relative;
    margin-right: 10px;
}

.top_header_part .header_part_right .btn__menu li:last-child {
    margin-right: 0;
}

.top_header_part .header_part_right .btn__menu .has__children .sub__menu {
    display: none;
    height: 300px;
    overflow: hidden;
}

.top_header_part .header_part_right .btn__menu .has__children .sub__menu:hover {
    overflow: auto;
}

.top_header_part .header_part_right .btn__menu .has__children .sub__menu li {
    margin-right: 0;
}

.top_header_part .header_part_right .btn__menu .has__children .sub__menu a {
    text-align: left;
    color: #22bfe9;
    box-shadow: none;
}

.top_header_part .header_part_right .btn__menu li>a {
    color: white;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    border: none;
    display: block;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    padding: 6px 10px;
    font-size: 14px;
    border-radius: 0.25rem;
    transition: all 0.3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.top_header_part .header_part_right .btn__menu li>a:hover {
    opacity: 0.8;
}

.top_header_for_mobile {
    width: 100%;
    padding: 10px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.top_header_for_mobile button {
    color: white;
    width: calc(98% / 4);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.top_header_for_mobile button:hover {
    opacity: 0.8;
}

.top_header_for_mobile button[data-isActive="false"] {
    background-color: #e52222;
}

.top_header_for_mobile button[data-isActive="true"] {
    background-color: #be1616;
}


/*Main Content Section*/

#main_part {
    padding: 8px 0px 0 4px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#main_part .left_item {
    display: flex;
    justify-content: space-between;
}

#main_part .left_item .main_left {
    background-color: white;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

#main_part .left_item .main_middle {
    background-color: white;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    width: calc(99% - 190px);
    border-radius: 5px;
}

#main_part .left_item .main_middle .button_holder {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(105px, auto));
    gap: 10px;
    padding: 5px;
}

#main_part .left_item .main_middle .waiter_customer {
    margin-top: 5px;
    padding: 0 5px;
    display: flex;
    justify-content: space-between;
}

#main_part .left_item .main_middle .waiter_customer .left_item {
    width: calc(100% - 100px) !important;
    display: flex;
    justify-content: space-between;
}

#main_part .left_item .main_middle .waiter_customer .left_item span.select2.select2-container.select2-container--default {
    width: calc(98% / 2) !important;
}

#main_part .left_item .main_middle .waiter_customer .separator {
    width: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#main_part .left_item .main_middle .waiter_customer .separator a {
    color: #cfd9db;
}

#main_part .left_item .main_middle .waiter_customer .separator a:first-child {
    font-size: 22px;
}

#main_part .left_item .main_middle .waiter_customer .separator a:last-child {
    background-color: #ecf0f1;
    color: #000000;
    text-align: center;
    line-height: 30px;
    width: 30px;
    height: 30px;
    border-radius: 3px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
}

#main_part .left_item .main_middle .waiter_customer .separator a:last-child:hover {
    background-color: #dde4e6;
}

#main_part .left_item .main_middle #bottom_absolute #open_discount_modal,
#main_part .left_item .main_middle #bottom_absolute #open_charge_modal,
#main_part .left_item .main_middle #bottom_absolute #open_tax_modal {
    color: #818181;
    cursor: pointer;
}

#main_part .left_item .main_middle #bottom_absolute .bottom__info {
    padding: 0 5px;
}

#main_part .left_item .main_middle #bottom_absolute .bottom__info .footer__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#main_part .left_item .main_middle #bottom_absolute .bottom__info .footer__content .item {
    width: calc(98% / 3);
    margin-bottom: 5px;
}

#main_part .left_item .main_middle #bottom_absolute .bottom__info .footer__content .item div,
#main_part .left_item .main_middle #bottom_absolute .bottom__info .footer__content .item span {
    font-size: 13px;
}

#main_part .left_item .main_middle #bottom_absolute .bottom__info .main_bottom .button_group {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(105px, auto));
    gap: 10px;
    margin-top: 12px;
}

#main_part .left_item .main_middle #bottom_absolute .bottom__info .main_bottom .button_group button {
    color: white;
    padding: 8px 4px;
    height: 32px;
    box-shadow: none !important;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2) !important;
}

#main_part .left_item .main_middle #bottom_absolute .bottom__info .main_bottom .button_group button:nth-child(1) {
    background-color: #e52222;
}

#main_part .left_item .main_middle #bottom_absolute .bottom__info .main_bottom .button_group button:nth-child(2) {
    background-color: #9c27b0;
}

#main_part .left_item .main_middle #bottom_absolute .bottom__info .main_bottom .button_group button:nth-child(3) {
    background-color: #607d8b;
}

#main_part .left_item .main_middle #bottom_absolute .bottom__info .main_bottom .button_group button:nth-child(4) {
    background-color: #8bc34a;
}

#main_part .left_item,
#main_part .main_right {
    width: calc(98.5% / 2);
}

#main_part .main_right {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 5px;
}

#main_part .main_right #main_item_holder {
    display: flex;
}

#main_part .main_right #main_item_holder .scroll-wrapper:last-child {
    flex: 1;
}

#main_part .main_right #main_item_holder .category-list {
    margin-right: 7px;
}

#main_part .main_right #main_item_holder .category-list .list-of-item {
    width: 120px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: block;
    height: calc(100vh - 130px);
}

#main_part .main_right #main_item_holder .category-list li {
    margin-bottom: 5px;
}

#main_part .main_right #main_item_holder .category-list li a {
    text-align: center;
    display: block;
    padding: 5px;
    color: #333;
    text-decoration: none;
    background-color: #f7f7f7;
    border-radius: 0.25rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#main_part .main_right #main_item_holder .category-list li a:focus {
    background-color: #e2e2e2;
}

#main_part .main_right #main_item_holder .single_item {
    position: relative;
    width: calc(95% / 3);
    position: relative;
    text-align: center;
    background-color: white;
    margin: 0 1.5% 2% 0;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.3s;
}

#main_part .main_right #main_item_holder .single_item:hover {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
}

#main_part .main_right #main_item_holder .single_item:hover .cart__overlay {
    opacity: 1;
}

#main_part .main_right #main_item_holder .single_item:hover .cart__overlay>.cart__single__item {
    transform: translateY(0);
    opacity: 1;
}

#main_part .main_right #main_item_holder .single_item .cart__overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.3s;
}

#main_part .main_right #main_item_holder .single_item .cart__overlay .cart__single__item {
    background-color: #22bfe9;
    color: white;
    border: none;
    outline: none;
    padding: 5px 10px;
    text-transform: capitalize;
    border-radius: 2px;
    cursor: pointer;
    opacity: 0;
    transform: translateY(-20px);
    transition: all 0.3s;
}

#main_part .main_right #main_item_holder .single_item .cart__overlay .cart__single__item:hover {
    background-color: #149fc4;
}

#main_part .main_right #main_item_holder .single_item .cart__overlay .cart__quantity__trigger {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    display: none;
    place-content: center;
    place-items: center;
}

#main_part .main_right #main_item_holder .single_item .cart__overlay .cart__quantity__trigger span {
    margin: 0 10px;
    color: white;
    font-size: 30px;
}

#main_part .main_right #main_item_holder .single_item .cart__overlay .cart__quantity__trigger button {
    background-color: transparent;
    color: white;
    border: none;
    outline: none;
    font-size: 20px;
    text-align: center;
    line-height: 25px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid #22bfe9;
    cursor: pointer;
}


/*Hold Modal Search*/

.last_ten_sales_modal_info_holder .last_ten_sales_holder .hold_sale_left label,
#show_sale_hold_modal label {
    width: 100%;
    border: 1px solid #ced4da;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 8px;
    border-radius: 5px;
}

.last_ten_sales_modal_info_holder .last_ten_sales_holder .hold_sale_left label input,
#show_sale_hold_modal label input {
    width: 100%;
    border: none !important;
    box-shadow: none !important;
}

.last_ten_sales_modal_info_holder .last_ten_sales_holder .hold_sale_left label button,
#show_sale_hold_modal label button {
    background-color: transparent;
    border: none !important;
    box-shadow: none !important;
}


/*Customer Modal Design*/

#charge_modal .content,
#tax_modal .content {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    flex-wrap: wrap;
}

#charge_modal .content>div,
#tax_modal .content>div {
    width: calc(98% / 2);
}

#charge_modal .content>div label,
#tax_modal .content>div label {
    display: block;
}

#charge_modal .content>div .select2-container,
#tax_modal .content>div .select2-container {
    width: 100% !important;
}

#charge_modal .content table,
#tax_modal .content table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
}

#charge_modal .content table th,
#tax_modal .content table th {
    text-align: left;
}

#charge_modal .content table th,
#charge_modal .content table td,
#tax_modal .content table th,
#tax_modal .content table td {
    border: 1px solid #ccc;
    padding: 10px;
}

#charge_modal .btn__box,
#tax_modal .btn__box {
    padding: 10px;
}

#charge_modal .btn__box button,
#tax_modal .btn__box button {
    width: 100px;
}

#charge_modal,
#discount_modal {
    max-width: 400px !important;
}

#charge_modal .content div,
#discount_modal .content div {
    width: 100%;
}

#charge_modal .content div:first-child,
#discount_modal .content div:first-child {
    margin-bottom: 10px;
}

#charge_modal .main-content-wrapper,
#discount_modal .main-content-wrapper {
    padding: 0 10px;
}

#charge_modal .main-content-wrapper div label,
#discount_modal .main-content-wrapper div label {
    margin-bottom: 8px;
    display: block;
}

#charge_modal .main-content-wrapper div .select2-container,
#discount_modal .main-content-wrapper div .select2-container {
    width: 100% !important;
}

#charge_modal .main-content-wrapper div:first-child,
#discount_modal .main-content-wrapper div:first-child {
    margin-bottom: 5px;
}

#discount_modal .btn__box {
    padding: 10px;
}


/*
  ================================
  All Menus For Mobile Devices
*/

.all__menus {
    position: absolute;
    right: 20px;
    top: 55px;
    max-width: 400px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 0 0 5px 5px;
    z-index: 100;
    display: none;
}

.all__menus>ul.menu__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.all__menus>ul.menu__list>li {
    width: calc(98% / 2);
}

.all__menus ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.all__menus ul li.it_has_children {
    position: relative;
}

.all__menus ul li.it_has_children::before {
    content: "\f0dd";
    position: absolute;
    right: 5px;
    top: 4px;
    color: #22bfe9;
    font-family: "Font Awesome 5 Pro";
}

.all__menus ul li.it_has_children:hover .sub_menu {
    transform: translateX(-100%);
    opacity: 1;
    z-index: 1;
    overflow: auto;
}

.all__menus ul li.it_has_children .sub_menu {
    padding: 5px;
    position: absolute;
    top: 20px;
    left: 0;
    background-color: white;
    z-index: -23;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
    opacity: 0;
    overflow: hidden;
    pointer-events: auto;
}

.all__menus ul li.it_has_children .sub_menu.category__list {
    height: 300px;
}

.all__menus ul li.it_has_children .sub_menu a {
    display: block;
}

.all__menus ul li a {
    display: block;
    padding: 5px;
    font-size: 16px;
    text-decoration: none;
    color: #22bfe9;
    transition: all 0.3s;
}

.all__menus ul li a:hover {
    background-color: #f7f7f7;
}


/*
  ======================
  Media QUery
*/

@media (min-width: 992px) {
    .top_header_for_mobile {
        display: none;
    }
}

@media (max-width: 992px) {
    .top_header_part {
        display: none;
    }
    .top_header_part .header_part_right,
    .top_header_part .left_item {
        width: 100%;
    }
    .top_header_part .left_item {
        margin-bottom: 10px;
    }
    #main_part .left_item,
    #main_part .main_right,
    #main_part .main_middle {
        width: 100% !important;
    }
    #main_part .main_right {
        display: none;
    }
    #main_part .main_left {
        position: absolute;
        transform: translateX(-120%);
        z-index: 1;
        transition: all 0.3s;
    }
    #main_part .main_left.active {
        z-index: 11;
        transform: translateX(0);
    }
}

@media (max-width: 600px) {
    #main_part .main_right #main_item_holder .category-list {
        display: none;
    }
    .top_header_for_mobile button {
        width: calc(95% / 4);
        height: 45px;
    }
    .top_header_for_mobile button span {
        display: block;
        font-size: 10px;
    }
    .all__menus {
        right: 1%;
        top: 60px;
        max-width: 98%;
    }
    .all__menus ul li.it_has_children:hover .sub_menu {
        transform: translateX(0) translateY(15px);
        opacity: 1;
        z-index: 1;
        pointer-events: auto;
    }
    #main_part .main_right #main_item_holder .single_item {
        width: calc(96% / 2);
    }
    #show_tables_modal2 .bottom_button_holder_table_modal {
        flex-wrap: wrap;
    }
    #show_tables_modal2 .bottom_button_holder_table_modal div.left,
    #show_tables_modal2 .bottom_button_holder_table_modal div.right {
        width: 100%;
    }
    #show_tables_modal2 .bottom_button_holder_table_modal div.right {
        margin-top: 14px;
    }
    /* ============Draft Modal Start==========*/
    #show_sale_hold_modal .hold_sale_modal_info_holder .detail_hold_sale_holder .hold_sale_left,
    .last_ten_sales_modal_info_holder .last_ten_sales_holder .hold_sale_left {
        width: 100%;
        margin-left: 0;
        padding: 0 10px;
    }
    #show_sale_hold_modal .hold_sale_modal_info_holder .detail_hold_sale_holder .hold_sale_right,
    .last_ten_sales_holder .hold_sale_right {
        width: 100%;
        padding: 0 10px;
        display: none;
    }
    /* ============Draft Modal End==========*/
    #show_sale_hold_modal .hold_sale_modal_info_holder,
    #show_last_ten_sales_modal .last_ten_sales_modal_info_holder {
        height: 550px;
    }
    #show_sale_hold_modal .hold_sale_modal_info_holder .btn__box,
    #show_last_ten_sales_modal .last_ten_sales_modal_info_holder .btn__box {
        width: 100%;
        padding: 0 10px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;
    }
    #show_sale_hold_modal .hold_sale_modal_info_holder .btn__box button,
    #show_last_ten_sales_modal .last_ten_sales_modal_info_holder .btn__box button {
        width: calc(98% / 2);
    }
    #show_last_ten_sales_modal .last_ten_sales_modal_info_holder {
        height: 550px;
    }
    #show_last_ten_sales_modal .last_ten_sales_modal_info_holder .btn_box {
        width: 100%;
        padding: 0 10px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;
    }
    #show_last_ten_sales_modal .last_ten_sales_modal_info_holder .btn_box button {
        width: calc(98% / 2);
    }
    #main_part .left_item .main_middle #bottom_absolute .bottom__info .main_bottom .button_group {
        grid-template-columns: repeat(auto-fit, minmax(100px, auto));
    }
}


/*
  ================================
  Modal keyframes Animation
*/

.pos__modal_modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background-color: rgba(31, 31, 31, 0.568);
    display: none;
}

@keyframes topInDown {
    0% {
        transform: translateX(-50%) translateY(-1200px) scale(0.7);
        opacity: 0.7;
    }
    80% {
        transform: translateX(-50%) translateY(0) scale(0.7);
        opacity: 0.7;
    }
    100% {
        transform: translateX(-50%) translateY(0) scale(1);
        opacity: 1;
    }
}

@keyframes downInUp {
    0% {
        transform: translateX(-50%) translateY(0) scale(1);
        opacity: 1;
    }
    20% {
        transform: translateX(-50%) translateY(0) scale(0.7);
        opacity: 0.7;
    }
    100% {
        transform: translateX(-50%) translateY(-1200px) scale(0.7);
        opacity: 0.7;
    }
}

@media (min-width: 600px) {
    #show_sale_hold_modal .hold_sale_modal_info_holder .btn__box,
    #show_last_ten_sales_modal #modal_content_last_ten_sales .last_ten_sales_modal_info_holder .btn_box {
        display: none;
    }
}


/*
  ===============
  Default Button Style
*/

button {
    background-color: #ecf0f1;
    border-color: #ecf0f1;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    border: none;
    outline: none;
    text-decoration: none;
    vertical-align: middle;
    height: 35px;
    cursor: pointer;
    user-select: none;
    padding: 8px 10px;
    font-size: 14px;
    border-radius: 0.25rem;
    transition: all 0.3s;
}

button:hover {
    opacity: 0.8;
    background-color: #dde4e6;
}

button:disabled {
    cursor: not-allowed;
    background-color: #e6e6e6;
}

button[data-selected="selected"] {
    background-color: #c8ccd2;
}

button[data-selected="unselected"] {
    background-color: #ecf0f1;
}


/*
  ==============================
  Select2 Design Change Menu
*/

.select2-container .select2-selection--single {
    height: 35px;
    padding: 3px 0;
    background-color: rgba(206, 212, 218, 0.04) !important;
    border-color: #ced4da !important;
    font-size: 13px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    color: #3b3b3b !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 35px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #ced4da transparent transparent transparent !important;
}

.select2-dropdown {
    border: 1px solid #ced4da !important;
    padding: 10px;
}

.select2-dropdown .select2-search--dropdown {
    margin-bottom: 5px;
}

.select2-dropdown .select2-search--dropdown input {
    padding: 7px;
    border-radius: 5px;
    border-color: #ced4da !important;
    outline: none;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: rgba(0, 0, 0, 0.06) !important;
    color: #333333 !important;
    transition: all 0.3s;
}

.select2-results__option[aria-selected] {
    color: #7d7d7d !important;
}

.select2-container--default .select2-results__option[aria-selected="true"] {
    background-color: rgba(206, 212, 218, 0.2) !important;
    color: #585858 !important;
}


/*
  ===================================
  End Select 2
*/


/*=======Sub Menu===========*/

.sub__menu {
    display: none;
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: absolute;
    width: 170px;
    top: 50px;
    left: 0;
    z-index: 100;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.sub__menu li {
    display: block;
}

.sub__menu li a {
    text-align: left;
    display: block;
    text-decoration: none;
    font-size: 14px;
    padding: 10px;
    transition: all 0.3s;
}

.sub__menu li a:hover {
    background-color: #f7f7f7;
    color: #0f7a96;
}

.scrollbar-macosx>.scroll-element.scroll-y .scroll-bar {
    width: 12px !important;
}

.single_row.first,
.single_row.forth {
    display: flex;
    justify-content: space-between;
    padding: 8px 8px 0 8px;
}

.single_row.third>span {
    display: flex;
    justify-content: space-between;
    padding: 8px 8px 0 8px;
}

.half-width-98 {
    width: calc(98% / 2);
}

aside#pos__sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 250px;
    height: 100%;
    background-color: white;
    box-shadow: 1px 0 5px rgba(0, 0, 0, 0.3);
    z-index: 999;
    padding: 5px 10px;
    transition: all 0.3s;
    transform: translateX(-120%);
}

aside#pos__sidebar.active {
    transform: translateX(0);
}

aside#pos__sidebar .brand__logo img {
    width: 100%;
    height: auto;
}

aside#pos__sidebar .pos__menu__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    height: calc(100% - 65px);
}

aside#pos__sidebar .pos__menu__list .scroll-bar {
    left: -10px;
    width: 8px !important;
}

aside#pos__sidebar .pos__menu__list>li>a {
    position: relative;
    display: flex;
    align-items: center;
    color: #555555;
    padding: 10px;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.3s;
}

aside#pos__sidebar .pos__menu__list>li>a .fa-chevron-left {
    position: absolute;
    right: 0;
    top: 15px;
    font-size: 12px;
    width: 12px;
    color: #555555 !important;
    transition: all 0.3s;
}

aside#pos__sidebar .pos__menu__list>li>a:hover {
    color: #000;
}

aside#pos__sidebar .pos__menu__list>li>a i {
    font-size: 18px;
    width: 35px;
}

aside#pos__sidebar .pos__menu__list li.have_sub_menu.active .fa-chevron-left {
    transform: rotate(-90deg);
}

aside#pos__sidebar .pos__menu__list li.have_sub_menu.active .sub__menu__list {
    display: block;
}

aside#pos__sidebar .pos__menu__list li.have_sub_menu.active .sub__menu__list li {
    margin-left: 0;
    opacity: 1;
}

aside#pos__sidebar .pos__menu__list .sub__menu__list {
    margin: 0;
    padding: 0 0 0 35px;
    list-style-type: none;
    display: none;
}

aside#pos__sidebar .pos__menu__list .sub__menu__list li {
    margin-left: -50px;
    opacity: 0;
    transition: all 0.3s;
}

aside#pos__sidebar .pos__menu__list .sub__menu__list li:nth-child(1) {
    transition-delay: 0.1s;
}

aside#pos__sidebar .pos__menu__list .sub__menu__list li:nth-child(2) {
    transition-delay: 0.2s;
}

aside#pos__sidebar .pos__menu__list .sub__menu__list li:nth-child(3) {
    transition-delay: 0.3s;
}

aside#pos__sidebar .pos__menu__list .sub__menu__list li:nth-child(4) {
    transition-delay: 0.4s;
}

aside#pos__sidebar .pos__menu__list .sub__menu__list li:nth-child(5) {
    transition-delay: 0.5s;
}

aside#pos__sidebar .pos__menu__list .sub__menu__list li:nth-child(6) {
    transition-delay: 0.6s;
}

aside#pos__sidebar .pos__menu__list .sub__menu__list li:nth-child(7) {
    transition-delay: 0.7s;
}

aside#pos__sidebar .pos__menu__list .sub__menu__list li:nth-child(8) {
    transition-delay: 0.8s;
}

aside#pos__sidebar .pos__menu__list .sub__menu__list li:nth-child(9) {
    transition-delay: 0.9s;
}

aside#pos__sidebar .pos__menu__list .sub__menu__list li:nth-child(10) {
    transition-delay: 1s;
}

aside#pos__sidebar .pos__menu__list .sub__menu__list li:nth-child(11) {
    transition-delay: 1.1s;
}

aside#pos__sidebar .pos__menu__list .sub__menu__list li:nth-child(12) {
    transition-delay: 1.2s;
}

aside#pos__sidebar .pos__menu__list .sub__menu__list li:nth-child(13) {
    transition-delay: 1.3s;
}

aside#pos__sidebar .pos__menu__list .sub__menu__list li a {
    position: relative;
    display: flex;
    align-items: center;
    color: #555555;
    padding: 10px;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.3s;
}

aside#pos__sidebar .pos__menu__list .sub__menu__list li a:hover {
    color: #000;
}

aside#pos__sidebar .pos__menu__list .sub__menu__list li a i {
    width: 25px;
    font-size: 13px;
}


/* All Icon Color */

aside#pos__sidebar .pos__menu__list>li:nth-child(1)>a>svg {
    color: #1abc9c;
}

aside#pos__sidebar .pos__menu__list>li:nth-child(2)>a>svg {
    color: #3498db;
}

aside#pos__sidebar .pos__menu__list>li:nth-child(3)>a>svg {
    color: #9b59b6;
}

aside#pos__sidebar .pos__menu__list>li:nth-child(4)>a>svg {
    color: #2ecc71;
}

aside#pos__sidebar .pos__menu__list>li:nth-child(5)>a>svg {
    color: #f1c40f;
}

aside#pos__sidebar .pos__menu__list>li:nth-child(6)>a>svg {
    color: #e67e22;
}

aside#pos__sidebar .pos__menu__list>li:nth-child(7)>a>svg {
    color: hotpink;
}

aside#pos__sidebar .pos__menu__list>li:nth-child(8)>a>svg {
    color: purple;
}

aside#pos__sidebar .pos__menu__list>li:nth-child(9)>a>svg {
    color: steelblue;
}

aside#pos__sidebar .pos__menu__list>li:nth-child(10)>a>svg {
    color: gold;
}

aside#pos__sidebar .pos__menu__list>li:nth-child(11)>a>svg {
    color: cornflowerblue;
}

aside#pos__sidebar .pos__menu__list>li:nth-child(12)>a>svg {
    color: crimson;
}

aside#pos__sidebar .pos__menu__list>li:nth-child(13)>a>svg {
    color: #0e2aa8;
}

aside#pos__sidebar .pos__menu__list>li:nth-child(14)>a>svg {
    color: #1ae25d;
}

aside#pos__sidebar .pos__menu__list>li:nth-child(15)>a>svg {
    color: orangered;
}

aside#pos__sidebar .pos__menu__list>li:nth-child(16)>a>svg {
    color: cornflowerblue;
}

aside#pos__sidebar .pos__menu__list>li:nth-child(17)>a>svg {
    color: navy;
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    color: #7367f0;
    font-size: 90px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin: 72px auto;
    position: relative;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
    animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}

@-webkit-keyframes load6 {
    0% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}

@keyframes load6 {
    0% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}

@-webkit-keyframes round {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes round {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


/*# sourceMappingURL=style2.css.map */
