<section class="main-content-wrapper">
  <section class="content-header">
      <h3 class="top-left-header">
         <i class="fa fa-shield bgcolortitle"></i> Add an Insurance<span style="font-size: 15px;">  Insurances</span>
      </h3>
  </section>
  <div class="box-wrapper">
      <!-- general form elements -->
      <div class="table-box">
          <form>
            <div class="bgcolortitle"><span>Add an Insurance Policy</span>
              <hr class="border border-secondary">
            </div>
            <p class="intro">Add as many policies and as many details as you need. Once it has been added to the system, you can link it to your assets.</p>
            <div class="">
              <div class="row m-3">
                  <div class="col-md-6">
                    <div class="row">
                      <div class="col-md-4">
                        <label>Description*</label>
                      </div>
                      <div class="col-md-8 form-group">
                        <input autocomplete="off" class="form-control bold border-secondary" name="AssetTagId" type="text">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <label>Insurance Co.</label>
                      </div>
                      <div class="col-md-8 form-group">
                        <input autocomplete="off" class="form-control bold border-secondary" name="AssetTagId" type="text">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <label>Contact Person</label>
                      </div>
                      <div class="col-md-8 form-group">
                        <input autocomplete="off" class="form-control bold border-secondary" name="AssetTagId" type="text">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <label>Phone</label>
                      </div>
                      <div class="col-md-8 form-group">
                        <input autocomplete="off" class="form-control bold border-secondary" name="AssetTagId" type="text">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <label>Email</label>
                      </div>
                      <div class="col-md-8 form-group">
                        <input autocomplete="off" class="form-control bold border-secondary" name="AssetTagId" type="text">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <label>Start Date*</label>
                      </div>
                      <div class="col-md-8 form-group">
                        <input autocomplete="off" class="form-control bold border-secondary" name="AssetTagId" type="date">
                      </div>
                    </div>

                 </div>
                 <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-4">
                      <label>Policy No.</label>
                    </div>
                    <div class="col-md-8 form-group">
                      <input autocomplete="off" class="form-control bold border-secondary" name="AssetTagId" type="text">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <label>Coverage</label>
                    </div>
                    <div class="col-md-8 form-group">
                      <input autocomplete="off" class="form-control bold border-secondary" name="AssetTagId" type="text">
                    </div>
                  </div>
                  <div class="row">
                    <!-- <div class="col-md-1"></div> -->
                    <div class="col-md-4">
                      <label>Limits</label>
                    </div>
                    <div class="col-md-8 form-group">
                      <input autocomplete="off" class="form-control bold border-secondary" name="AssetTagId" type="text">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <label>Deductible</label>
                    </div>
                    <div class="col-md-8 form-group">
                      <input autocomplete="off" class="form-control bold border-secondary" name="AssetTagId" type="text">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <label>Premium</label>
                    </div>
                    <div class="col-md-8 form-group">
                      <input autocomplete="off" class="form-control bold border-secondary" name="AssetTagId" type="text">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <label>End Date*</label>
                    </div>
                    <div class="col-md-8 form-group">
                      <input autocomplete="off" class="form-control bold border-secondary" name="AssetTagId" type="date">
                    </div>
                  </div>
                  <div class="row ml-5">
                    <div class="col-md-3">

                    </div>
                    <div class="col-md-1">
                      <div class="checkbox-list">
                          <div class="checker" id="uniform-noEndDate"><span class=""><input data-val="true" data-val-required="No end date (Yes/No) is required." id="noEndDate" name="noEndDate" type="checkbox" value="true"></span></div><input name="noEndDate" type="hidden" value="false">
                      </div>
                  </div>
                   <div class="col-md-8">
                       <div class="checkbox-list">
                           <label for="noEndDate">Active</label>
                       </div>
                   </div>
                  </div>
             </div>
              </div>

              <div class="row mt-3">
                <div class="col-md-8">
                </div>
                <div class="col-md-2">
                  <div class="mb-2">
                    <button class="btn bgcolorbtn text-white w-100" type="submit" routerLink="/Advance/Insurance">Back</button>
                  </div>
                </div>
                  <div class="col-md-2">
                    <div class="mb-2">
                      <button type="submit" name="submit" value="submit" class="btn bgcolorbtn text-white w-100">Submit</button>
                  </div>
                  </div>
              </div>
            </div>


          </form>
      </div>
  </div>
</section>
