<div class="login-auth-page">
  <div class="row">
      <div class="col-md-4 mx-auto mt-5">
        <div class="register-box-body px-3 card">
          <h2>Forget Password ?</h2>
          <div class="user_icon"><i class="fa fa-key"></i></div>
          <div>
            <h3 class="auth-title text-center"></h3>
          </div>
          <div class="col-md-12 ml-3"><p>Enter your e-mail address below to reset your password.</p></div>
            <div class="col-sm-12 text-center">
              <div class="form-group has-feedback">
                <input type="text" class="form-control" placeholder="Email">
              </div>
            </div>
            <hr>
            <div class="row mb-3">
              <div class="col-md-2">
                <a class="btn btn-light border btn-circle pull-left ml-2" routerLink="/login"><i class="fa fa-arrow-left"></i>Back</a>
              </div>
              <div class="col-md-6"></div>

                <div class="col-md-4 float-right">
                  <button type="submit" class="btn button-full btn-circle ml-4 btnsign">Submit</button>
                </div>
            </div>
        </div>
      </div>
  </div>
</div>
