<section class="main-content-wrapper">
  <section class="content-header">
    <h3 class="top-left-header"><i class="fa fa-camera bgcolortitle"></i> Image Gallery</h3>
  </section>
  <div class="box-wrapper">
    <hr class="border border-secondary">
    <div class="table-box">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Your Uploads</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Stock Images</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active border mt-2" id="home" role="tabpanel" aria-labelledby="home-tab">
           <div class="row">
             <div class="col-md-6 mt-3 mb-3">
               <div class="col-md-1 float-left">
                <button class="btn btn-primary btn-sm borderradius">All</button>
               </div>
               <div class="col-md-2 float-left">
                <button class="btn btn-primary btn-sm borderradius">Assigned</button>
               </div>
               <div class="col-md-2 float-left">
                <button class="btn btn-primary btn-sm borderradius">Unassigned</button>
              </div>
            </div>
            <div class="col-md-6 mt-3">
               <a data-toggle="modal" data-target=".UploadImage" class="btn bgcolorbtn text-white border btn-sm btn-circle pull-right"> Upload Image <i class="fa fa-plus"> </i></a>
            </div>
           </div>
        </div>
        <div class="tab-pane fade border mt-2" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          <div class="row">
            <div class="col-md-12 mt-3 mb-3">
              <div class="col-md-3 float-left">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search..." style="border: none;width: 170px;background-color: #e8e2e1;color: black;">
                  <span class="input-group-btn">
                      <a class="btn default" style="background-color: #d6d4d4;border-radius: initial;height: 38px;"><i class="fa fa-search"></i></a>
                  </span>
              </div>
              </div>
              <div class="col-md-0 float-left">
               <button class="btn btn-primary btn-sm borderradius">All</button>
              </div>
              <div class="col-md-1 float-left">
               <button class="btn btn-primary btn-sm borderradius">Assigned</button>
              </div>
              <div class="col-md-1 float-left">
               <button class="btn btn-primary btn-sm borderradius">Unassigned</button>
             </div>
             <div class="col-md-4">

             </div>
           </div>
          </div>
          <div class="row">
            <div class="tab vltab ml-4 mb-3">
              <button class="tablinks">Computer Equipment</button>
              <button class="tablinks">Construction and Tools</button>
              <button class="tablinks">Home and Garden</button>
              <button class="tablinks">Office Equipment</button>
              <button class="tablinks">Vehicle</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>

<div class="modal fade UploadImage" id="view-assigned-group-role-modal" data-backdrop="static" data-keyboard="false"
    tabindex="-1" role="dialog" aria-labelledby="assignedGroupRoleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="assignedGroupRoleModalLabel bgcolortitle">How would you like to upload ?</h4>
                    <button type="button" class="close" data-dismiss="modal" #addCategoryModal aria-hidden="true">
                        ×
                    </button>
                </div>
                <div class="modal-body">
                  <div class="modal-body" style="text-align:center">
                    <a class="btn btn-primary btn-lg borderradius" data-toggle="modal" data-target=".UploadSingleImage"><i class="fa fa-image" style="font-size:18px; "></i>&nbsp; Single Upload </a>
                    <br><br>Upload one photo at a time with photo <br>editing features like rotation and cropping.
                    <hr>
                    <a class="btn btn-primary btn-lg borderradius" data-toggle="modal" data-target=".UploadMassImage"><i class="fa fa-group" style="font-size:18px; "></i>&nbsp; Mass Upload  </a>
                    <br><br>Select and upload multiple photos at a time.<br>Edit photos later in 'Your Uploads' section.
                </div>
                <hr>
                <div class="app-modal-footer">

                </div>
            </div>
    </div>
</div>
</div>

<div class="modal fade UploadSingleImage" id="view-assigned-group-role-modal" data-backdrop="static" data-keyboard="false"
    tabindex="-1" role="dialog" aria-labelledby="assignedGroupRoleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="assignedGroupRoleModalLabel bgcolortitle">Upload Image</h4>
                    <button type="button" class="close" data-dismiss="modal" #addCategoryModal aria-hidden="true">
                        ×
                    </button>
                </div>
                <div class="modal-body">
                  <div class="modal-body">
                    <div id="crop-avatar">
                        <div id="upload-image">
                                    <div class="avatar-upload">

                                        <label for="avatarInput">Upload your Photo</label>
                                        <input accept="image/png,image/jpeg,image/gif,image/jpg" class="avatar-input" id="avatarInput" name="avatarInput" type="file" value="">
                                        <p class="help-block">Only (<strong>JPG, GIF, PNG</strong>) are allowed</p>
                                    </div>
                          </div>
                   </div>
                  </div>
                </div>
                <hr>
                <div class="app-modal-footer">

                </div>
            </div>
    </div>
</div>

<div class="modal fade UploadMassImage" id="view-assigned-group-role-modal" data-backdrop="static" data-keyboard="false"
    tabindex="-1" role="dialog" aria-labelledby="assignedGroupRoleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="assignedGroupRoleModalLabel bgcolortitle">Mass Upload</h4>
                    <button type="button" class="close" data-dismiss="modal" #addCategoryModal aria-hidden="true">
                        ×
                    </button>
                </div>
                <div class="modal-body">
                  <div class="modal-body">
                    <div id="max_upload_message_box">Upload up to 100 photos at a time.</div>
                        <input name="__RequestVerificationToken" type="hidden" value="oQje3F0xmES2vU9D6xsZEKMgGiFi98KLZElzMQzT2hzW6eOMqJF8TujJJ9anAFac72t2Mk1S7fry9L8uhJds_R2WpsIob8VWWI9w5BUxT4JHeehT0UH7LT7x5XhA3mKqGEnk1Q2">
                    <div class="dz-default dz-message"><span>Drop files here to upload</span></div>
                </div>
                </div>
                <hr>
                <div class="app-modal-footer">

                </div>
            </div>
    </div>
</div>

