<section class="main-content-wrapper">
  <section class="content-header">
    <h3 class="top-left-header"><i class="fa fa-book bgcolortitle"></i> Export Tables</h3>
    <div class="box-wrapper">
      <hr class="border border-secondary">
      <div class="bgcolortitle"><span>Step 1: Select Table</span></div>
      <div class="row">
          <div class="col-md-12 mt-3">
              <div class="col-md-2">
                <label class="d-flex justify-content-end">Export Tables</label>
              </div>
              <div class="col-md-4">
                <select class="form-control border-secondary">
                  <option>Select</option>
                  <option>Isw</option>
                </select>
              </div>
          </div>
      </div>
    </div>
  </section>
</section>

