<section class="main-content-wrapper ml-3">
  <section class="content-header">
      <h3 class="top-left-header">
         <i class="fa fa-edit bgcolortitle"></i> Audit
      </h3>
  </section>
  <div class="box-wrapper">
      <!-- general form elements -->
      <div class="table-box">
          <form>
            <div class="bgcolortitle"><span>Step 1: Set Audit Name</span></div>
            <hr class="border border-secondary">
                  <div class="row m-3">
                      <div class="col-md-12">
                        <div class="row">
                          <div class="col-md-2">
                            <label>Audit Name*</label>
                          </div>
                          <div class="col-md-4 form-group">
                            <select class="form-control border border-secondary">
                              <option>Isx</option>
                              <option>Isw</option>
                            </select>
                            <span class="help-block">Start a new audit or update an ongoing audit.</span>
                          </div>
                          <div class="col-md-6 mt-1">
                         <div class="form-inline-row">
                          <div class="form-inline-row">
                            <a data-toggle="modal" data-target=".AddAudit" class="btn bgcolorbtn text-white border btn-sm btn-circle" ><i class="fa fa-plus"> </i> New Audit</a>
                            <a data-toggle="modal" data-target=".ManageAudit" class="btn bgcolorbtn text-white border btn-sm btn-circle ml-4" ><i class="fa fa-cog"> </i> Manage Audits</a>
                          </div>
                          </div>
                          </div>
                        </div>
                     </div>
                  </div>
                  <div class="bgcolortitle"><span>Step 2: Audit Site and Location</span></div>
                  <hr class="border border-secondary">
                  <div class="row m-3">
                    <div class="col-md-12">
                      <div class="row">
                        <div class="col-md-2">
                          <label>Audit Site*</label>
                        </div>
                        <div class="col-md-4 form-group">
                          <select class="form-control border border-secondary">
                            <option>Select Site</option>
                            <option>Isw</option>
                          </select>
                        </div>
                        <div class="col-md-6">
                       <div class="form-inline-row">
                        <div class="form-inline-row">
                          <span class="help-block">Select the desired audit Site and Location.</span>
                        </div>
                        </div>
                        </div>
                      </div>
                   </div>
                </div>
                <div class="row m-3">
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-2">
                        <label>Audit Location*</label>
                      </div>
                      <div class="col-md-4 form-group">
                        <select class="form-control border border-secondary">
                          <option>Select Location</option>
                          <option>Isw</option>
                        </select>
                      </div>
                      <div class="col-md-6 mt-1">
                     <div class="form-inline-row">
                      <div class="form-inline-row">
                      </div>
                      </div>
                      </div>
                    </div>
                 </div>
              </div>
              <div class="bgcolortitle"><span>Step 3: Add Assets to List</span></div>
              <hr class="border border-secondary">
                  <p class="intro">Add assets to the list for the above selected Audit Site and Location.</p>
                  <div class="row m-3">
                        <div class="col-md-6">
                         <div class="row">
                            <div class="col-md-4">
                              <label class="">Category</label>
                            </div>
                            <div class="col-md-8 form-group">
                              <select class="form-control border border-secondary">
                                <option>All Category</option>
                                <option>Isx</option>
                                <option>Isw</option>
                              </select>
                              <p class="help-block"> Optionally you can filter the results by selecting a category.</p>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-8">
                              <div class="form-inline-row">
                                <a  class="btn bgcolorbtn text-white border btn-sm btn-circle ml-5"> Refresh List</a>
                              </div>
                              <div class="ml-5">
                                <span class="help-block">This button adds/refreshes assets in the 'Assets Pending Audit' list below.</span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-1 d-flex justify-content-end">
                          <div class="vl" id="hide" style="border-left: 1px solid gray;
                          height: 200px;"></div>
                        </div>
                        <div class="col-lg-5">
                          <p class="intro">If you have a list of assets to audit, enter Asset IDs comma separated or one entry in each line.</p>
                          <div class="form-group">
                            <textarea class="form-control border border-secondary" style="height: 122px;"></textarea>
                          </div>
                        </div>
                  </div>
                  <div class="row">
                    <div class="col-md-8">

                    </div>
                    <div class="col-md-2">
                        <a class="btn bgcolorbtn text-white btn-sm btn-circle ml-2"> Add to List</a>
                    </div>
                      <div class="col-md-2">

                      </div>
                  </div>
          </form>
      </div>
  </div>
</section>


<div class="modal fade AddAudit" id="view-assigned-group-role-modal" data-backdrop="static" data-keyboard="false"
    tabindex="-1" role="dialog" aria-labelledby="assignedGroupRoleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="assignedGroupRoleModalLabel bgcolortitle">Add Audit Name</h4>
                    <button type="button" class="close" data-dismiss="modal" #addCategoryModal aria-hidden="true">
                        ×
                    </button>
                </div>
                <div class="modal-body">
                  <div class="modal-body">
                    <div class="row">

                      <div class="col-md-12 form-group">
                        <input type="text" class="form-control bold border-secondary">
                      </div>
                    </div>

                </div>
                <hr>
                <div class="app-modal-footer">
                  <div class="row">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-3">
                      <a type="submit" name="submit" value="submit" class="btn bgcolorbtn text-white w-100">Add</a>
                    </div>
                    <div class="col-md-3">
                      <a class="btn bgcolorbtn text-white w-100">Cancel</a>
                    </div>
                    </div>
                </div>
            </div>
    </div>
</div>
</div>

<div class="modal fade ManageAudit" id="view-assigned-group-role-modal" data-backdrop="static" data-keyboard="false"
    tabindex="-1" role="dialog" aria-labelledby="assignedGroupRoleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="assignedGroupRoleModalLabel bgcolortitle">Manage Audit</h4>
                    <button type="button" class="close" data-dismiss="modal" #addCategoryModal aria-hidden="true">
                        ×
                    </button>
                </div>
                <div class="modal-body">
                  <div class="modal-body">
                    <table class="table table-hover table-bordered matPersons" id="matPersons">
                      <thead>
                          <tr>
                              <th class="warning">Audit Name </th>
                              <th class="warning text-center"> Assets  </th>
                              <th class="warning text-center"> Action </th>
                          </tr>
                      </thead>
                      <tbody>
                            <tr class="odd"><td valign="top" colspan="3" class="dataTables_empty">No Audit found</td></tr>
                      </tbody>
                  </table>
                </div>
                <hr>
                <div class="app-modal-footer">
                  <div class="row">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-3">
                      <a class="btn bgcolorbtn text-white w-100">Cancel</a>
                    </div>
                    </div>
                </div>
            </div>
    </div>
</div>
</div>
