.bg-blue-color {
  background-color: #7367f0;
  color: white;
}

/*
  Custom Btn Style
*/
.bg-red-btn {
  background-color: #ea5455;
}

.bg-red-btn:hover, .bg-red-btn:focus {
  -webkit-box-shadow: 0 8px 25px -8px #c90000 !important;
          box-shadow: 0 8px 25px -8px #c90000 !important;
}

.bg-blue-btn {
  background-color: darkgray;
}

.bg-blue-btn:hover, .bg-blue-btn:focus {
  -webkit-box-shadow: 0 8px 25px -8px #7367f0 !important;
          box-shadow: 0 8px 25px -8px #7367f0 !important;
}

.bg-blue-btn,
.bg-red-btn {
  color: white;
  text-decoration: none;
  padding: 8.5px 21px !important;
  border-radius: 0.358rem !important;
  font-weight: 500;
  font-size: 14px;
  text-transform: capitalize;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.bg-login-btn {
  background-color: darkgray;
  width: 150px;
  color: white;
  text-decoration: none;
  padding: 8.5px 21px !important;
  border-radius: 0.358rem !important;
  font-weight: 500;
  font-size: 14px;
  text-transform: capitalize;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.bg-login-btn:hover, .bg-login-btn:focus{
  background-color: #c90000 !important;
  color: white !important;
}

.bg-blue-btn svg,
.bg-red-btn svg {
  width: 14px;
  height: 14px;
}

.bg-blue-btn:hover, .bg-blue-btn:focus,
.bg-red-btn:hover,
.bg-red-btn:focus {
  background-color: #c90000 !important;
  color: white !important;
}

.btn-check:focus + .btn,
.btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.txt-color-grey {
  color: #636363 !important;
}

.txt-color-primary {
  color: #7367f0 !important;
}

.modal-body .select2-container {
  width: 100% !important;
}

/*
  Re-Use Class
*/
.m-left {
  margin-left: 10px;
}

.m-right {
  margin-right: 10px;
}

.p-cursor {
  cursor: pointer;
}

select:focus,
input:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

/*
  Sweet Alert Style Start
*/
.sweet-alert button.cancel {
  border: 1px solid #ea5455 !important;
  background-color: transparent !important;
  color: #ea5455 !important;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.sweet-alert button.cancel:hover {
  background-color: rgba(234, 84, 84, 0.1) !important;
}

.sa-button-container .sa-confirm-button-container .confirm {
  background-color: #7367f0 !important;
  padding: 0.786rem 1.5rem;
  font-size: 1rem;
  border-radius: 0.358rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.sa-button-container .sa-confirm-button-container .confirm:hover {
  -webkit-box-shadow: 0 8px 25px -8px #7367f0 !important;
          box-shadow: 0 8px 25px -8px #7367f0 !important;
}

.swal2-confirm {
  background-color: #7367f0 !important;
  padding: 0.786rem 1.5rem;
  font-size: 1rem;
  border-radius: 0.358rem;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.swal2-confirm:hover {
  -webkit-box-shadow: 0 8px 25px -8px #7367f0 !important;
          box-shadow: 0 8px 25px -8px #7367f0 !important;
}

/*
  Sweet Alert Style End
*/
.nav-tabs {
  border-color: transparent;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link {
  color: #6e6b7b;
}

.nav-tabs .nav-item.show .nav-link:hover,
.nav-tabs .nav-link:hover {
  border-color: transparent;
}

.nav-tabs .nav-item.show .nav-link.active,
.nav-tabs .nav-link.active {
  color: #7367f0;
  border-color: transparent transparent #7367f0 transparent;
  border-width: 2px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f7f7f7;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f0c667;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f0c667;
}

.main-wrapper,
.login-auth-page {
  height: 100vh;
}

.main-wrapper .auth-title,
.login-auth-page .auth-title {
  color: #5e5873;
  font-size: 1.714rem;
  font-weight: 500;
}

.main-wrapper .auth-subtitle,
.login-auth-page .auth-subtitle {
  color: #5e5873;
  font-size: 1.3rem;
}

.main-wrapper .auth-desc,
.login-auth-page .auth-desc {
  color: #6e6b7b;
  font-size: 14px;
}

.login-auth-page .left-item {
  background-color: #f8f8f8;
}

.login-auth-page .set_credentials {
  padding: 8.5px 0px !important;
}

.auth-bg {
  background-color: white;
}

@media (max-width: 600px) {
  .signup-page {
    padding: 20px;
  }
  .main-wrapper .auth-title,
  .main-wrapper .auth-desc,
  .login-auth-page .auth-title,
  .login-auth-page .auth-desc {
    text-align: center;
  }
}
/*# sourceMappingURL=signin.css.map */
