<div class="login-auth-page" style="background-image: url(/assets/css/patterns/DeepBlue.png);">
  <div class="row">
      <div class="col-md-4 mx-auto mt-5">
        <div class="login-box-body px-3 card shadow-lg">
          <h2>Log In</h2>
          <div class="user_icon"><i class="fa fa-user"></i></div>
          <div>
            <h3 class="auth-title text-center"></h3>
          </div>
            <div class="col-sm-12 text-center">
              <div class="form-group has-feedback">
                <input type="text" class="form-control border border-secondary" placeholder="Email" formControlName="Username">
              </div>
            </div>
            <div class="col-sm-12 text-center">
              <div class="form-group has-feedback pass">
                <input type="password" formControlName="Password" class="form-control border border-secondary" placeholder="Password">
              </div>
            </div>
            <div class="row">
                <div class="col-md-5 ml-3 float-left">
                  <div class="md-checkbox-list">
                      <div class="md-checkbox">
                          <input class="md-check valid" data-val="true" data-val-required="The Remember me field is required." id="rememberMe" name="rememberMe" type="checkbox" value="true"><input name="rememberMe" type="hidden" value="false">
                          <label for="rememberMe">
                              <span></span>
                              <span class="check"></span>
                              <span class="box"></span>&nbsp; Remember me
                          </label>
                      </div>
                  </div>
               </div>
               <div class="col-md-6 float-right">
                   <!-- <a class="d-flex justify-content-end text-blue" routerLink="/forgetPassword">Forgot Password?</a> -->
              </div>
            </div>
            <div class="row mb-4">
                <div class="col-md-4">
                  <!-- <a class="btn btn-light border btn-circle pull-left" routerLink="/register">Create An Account</a> -->
                </div>
                <div class="col-md-4">
                  <a type="submit" class="btn bgcolorbtn text-white btn-circle ml-4" routerLink="/Asset/AddAsset">Log In</a>
                </div>
                <div class="col-md-4">
                </div>
            </div>
            <!-- <div class="row">
              <div class="col-md-12"><div class="or-seperator"><i>or</i></div></div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <p class="text-center">Login with your Google or social media account</p>
                <div class="text-center social-btn">
                    <div class="row mb-4">
                      <div class="col-md-2">

                      </div>
                          <div class="col-sm-4  col-sm-offset-2"><a class="btn btn-light border btn-block" style="border-radius: 0px;"><i class="fa fa-google text-red"></i>&nbsp; Google</a></div>
                          <div class="col-sm-4"><a class="btn text-white btn-block btnfb"><i class="fa fa-facebook "></i>&nbsp; Facebook</a></div>
                    </div>
                </div>
            </div>
            </div> -->

        </div>
      </div>
  </div>
</div>
