<div class="login-auth-page">
  <div class="row">
      <div class="col-md-4 mx-auto mt-5">
        <div class="register-box-body px-3 card">
          <h2>Create an Account</h2>
          <div class="user_icon"><i class="fa fa-user-plus"></i></div>
          <div>
            <h3 class="auth-title text-center"></h3>
          </div>
            <div class="col-sm-12 text-center">
              <div class="form-group has-feedback">
                <input type="text" class="form-control" placeholder="First Name">
              </div>
            </div>
            <div class="col-sm-12 text-center">
              <div class="form-group has-feedback">
                <input type="text" class="form-control" placeholder="Last Name">
              </div>
            </div>
            <div class="col-sm-12 text-center">
              <div class="form-group has-feedback">
                <input type="text" class="form-control" placeholder="Email">
              </div>
            </div>
            <div class="col-sm-12 text-center">
              <div class="form-group has-feedback pass">
                <input type="password" formControlName="Password" class="form-control" placeholder="Password">
              </div>
            </div>
            <div class="col-sm-12 text-center">
              <div class="form-group has-feedback pass">
                <input type="password" formControlName="" class="form-control" placeholder="Re-type Your Password">
              </div>
            </div>
            <div class="row">
                <div class="col-md-8 ml-3 float-left">
                  <div class="md-checkbox-list">
                      <div class="md-checkbox">
                          <input class="md-check valid" data-val="true" data-val-required="The Remember me field is required." id="rememberMe" name="rememberMe" type="checkbox" value="true"><input name="rememberMe" type="hidden" value="false">
                          <label for="rememberMe">
                              <span></span>
                              <span class="check"></span>
                              <span class="box"></span>&nbsp; I agree to the Terms & Policy
                          </label>
                      </div>
                  </div>
               </div>
               <div class="col-md-4">

              </div>
            </div>
            <hr>
            <div class="row mb-3">
              <div class="col-md-6"></div>
                <div class="col-md-2">
                  <a class="btn btn-light border btn-circle pull-left" routerLink="/login">Cancel</a>
                </div>
                <div class="col-md-4 float-right">
                  <button type="submit" class="btn button-full btn-circle ml-4 btnsign">Sign Up</button>
                </div>
            </div>
        </div>
      </div>
  </div>
</div>
