<section class="content-header">
  <h3 class="top-left-header">
    <i class="fa fa-book bgcolortitle"></i> Setup Custom Report
  </h3>
</section>
<div class="clearfix">
  <div class="row">
    <div class="col-md-3">
      <div  style="padding: 10px 0 0 0">
        <i class="fa fa-list bgcolortitle"></i> Custom Report
      </div>
    </div>
    <div class="col-md-9">
      <div class="col-md-2 float-right">
        <div class="">
          <a class="btn btn-primary btn-sm btn-sm">
            <i class="fa fa-save font-green"></i>Save Report
          </a>
        </div>
      </div>
      <div class="col-md-2 float-right">
        <div class="">
          <a class="btn btn-light border btn-sm btn-sm">
            <i class="fa fa-gear"></i> Setup Columns
          </a>
        </div>
      </div>
      <div class="col-md-2 float-right">
        <div class="">
          <a class="btn btn-circle btn-light border btn-sm">
            <i class="fa fa-search"></i> Search Criteria
          </a>
        </div>
      </div>
      <div class="col-md-3">

      </div>
    </div>
  </div>
  <hr />
  <div class="box-wrapper">
    <div class="row screen">
      <div class="col-md-6 col-sm-12">
        <div class="form-group">
          <select name="iTakeList" aria-controls="assetGrid">
            <option value="10" selected="">10</option>
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
            <option value="250">250</option>
          </select>
          &nbsp;assets
        </div>
      </div>
    </div>
  </div>
  <div
    class="portlet light bg-inverse"
    style="background-color: #fff; padding: 10px 0 0 0"
  >
    <div class="queryResult hide"><div class="inputtags"></div></div>
    <div class="portlet-body form">
      <div class="row screen">
        <div class="col-md-6 col-sm-12">
          <div class="form-group"></div>
        </div>
        <div class="col-md-6 col-sm-12"></div>
      </div>
      <form class="form-horizontal" role="form" novalidate="novalidate">
        <table class="table table-bordered table-hover" id="list_of_assets">
          <thead>
            <tr class="warning">
              <th class="warning center table-checkbox">
                <div class="checker">
                  <span
                    ><input
                      type="checkbox"
                      class="group-checkable"
                      onclick="GroupCheck(this)"
                  /></span>
                </div>
              </th>
              <th>Asset Tag ID</th>
              <th>Description</th>
              <th>Brand</th>
              <th>Purchase Date</th>
              <th>Cost</th>
              <th>Status</th>
              <th class="warning">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td valign="top" colspan="9" class="dataTables_empty">
                No matching records found
              </td>
            </tr>
          </tbody>
        </table>
      </form>
      <div class="row screen">
        <div class="col-md-6 col-sm-12">
          <div
            class="dataTables_info"
            id="assetGrid_info"
            role="status"
            aria-live="polite"
          >
            Showing 0 to 0 of 0 records
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div
            class="dataTables_paginate paging_simple_numbers"
            id="ReportGrid_paginate"
          ></div>
        </div>
      </div>
    </div>
  </div>
</div>
