<section class="main-content-wrapper">
  <section class="content-header">
    <h3 class="top-left-header"><i class="fa fa-image bgcolortitle"></i> Documents Gallery</h3>
    <div class="box-wrapper">
      <hr class="border border-secondary">
      <div class="row">
        <div class="col-md-6">
          <div class="bgcolortitle mt-3"><span>Manage Documents</span></div>
        </div>
        <div class="col-md-6 d-flex justify-content-end">
          <a data-toggle="modal" data-target=".LinkDocument" class="btn bgcolorbtn text-white border btn-sm btn-circle">Upload Document <i class="fa fa-plus"> </i></a>
        </div>
      </div>
      <p class="intro">Easily keep your documents accessible. Assign documents to specific assets by viewing the details of the individual documents and attaching them.</p>
      <div class="row" style="margin-bottom:20px;">
        <div class="col-md-4 ml-4">
            <label class="control-label" for="sSearch_1">Search Document</label>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="File Name or Description" style="border: none;width: 170px;background-color: #e8e2e1;color: black;">
                <span class="input-group-btn">
                    <a class="btn default" style="background-color: #d6d4d4;border-radius: initial;height: 38px;"><i class="fa fa-search"></i></a>
                </span>
            </div>
        </div>
        <div class="col-md-4">

        </div>
    </div>
          <!-- <div class="col-md-12 mt-3">
              <label>Export Tables</label>
              <input type="search" class="form-control" placeholder="Search Assets ..." name="search" style="border: none;width: 80px;background-color: #d9dedb;color: black;">
              <span class="input-group-btn"><button type="submit" class="btn submit" style="background-color: #d9dedb;border-radius: initial;height: 38px;"><i class="fa fa-search"></i></button></span>
              <div class="col-md-2">
              </div>
              <label>Export Tables</label>
              <div class="col-md-4">
                <select class="form-control">
                  <option>Select</option>
                  <option>Isw</option>
                </select>
              </div>
          </div> -->
      </div>
  </section>
</section>

<div class="modal fade LinkDocument" id="view-assigned-group-role-modal" data-backdrop="static" data-keyboard="false"
    tabindex="-1" role="dialog" aria-labelledby="assignedGroupRoleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="assignedGroupRoleModalLabel bgcolortitle">Link Document to Asset</h4>
                    <button type="button" class="close" data-dismiss="modal" #addCategoryModal aria-hidden="true">
                        ×
                    </button>
                </div>
                <div class="modal-body">
                  <div class="modal-body">
                    <div class="row">
                      <div class="col-md-4">
                        <label>Description*</label>
                      </div>
                      <div class="col-md-8 form-group">
                        <input autocomplete="off" class="form-control bold" name="AssetTagId" type="text">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <label>Document*</label>
                      </div>
                      <div class="col-md-8 form-group">
                          <input autocomplete="off" class="form-control bold" name="AssetTagId" type="file" style="height: 56px;">
                      </div>
                    </div>

                </div>
                <hr>
                <div class="app-modal-footer">
                  <div class="row">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-3">
                      <a type="submit" name="submit" value="submit" class="btn bgcolorbtn text-white w-100">Upload</a>
                    </div>
                    <div class="col-md-3">
                      <a class="btn bgcolorbtn text-white w-100">Back</a>
                    </div>
                    </div>
                </div>
            </div>
    </div>
</div>
</div>
