<header class="main-header">
  <nav class="navbar navbar-static-top">
    <div class="wrapper_up_wrapper">
      <div class="hh_wrapper">
        <div class="navbar-custom-menu">
          <div class="menu-trigger-box">
            <a data-toggle="push-menu" class="st"><svg xmlns="http://www.w3.org/2000/svg"
                width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu">
                <line x1="3" y1="12" x2="21" y2="12"></line>
                <line x1="3" y1="6" x2="21" y2="6"></line>
                <line x1="3" y1="18" x2="21" y2="18"></line>
              </svg></a>
            <a  class="om"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round" class="feather feather-grid">
                <rect x="3" y="3" width="7" height="7"></rect>
                <rect x="14" y="3" width="7" height="7"></rect>
                <rect x="14" y="14" width="7" height="7"></rect>
                <rect x="3" y="14" width="7" height="7"></rect>
              </svg></a>
          </div>
          <ul class="screen-list">
            <li class="dropdown user user-menu">
              <a routerLink="/Asset/AssetList">
                <!-- <i class="fa fa-cutlery"></i> -->
                <i class="fa fa-list text-danger"></i>
                <span class="hidden-xs text-dark"> List of Asset</span>
              </a>
            </li>
            <li class="dropdown user user-menu">
              <a routerLink="/Asset/AddAsset">
                <i class="fa fa-plus-circle text-primary"></i>
                <span class="hidden-xs text-dark">Add an Asset</span>
              </a>
            </li>
            <li class="dropdown user user-menu">
              <div class="input-group">
                <input type="search" class="form-control" placeholder="Search Assets ..." name="search" style="border: none;width: 170px;background-color: #d9dedb;color: black;">
                <span class="input-group-btn"><button type="submit" class="btn submit" style="background-color: #d9dedb;border-radius: initial;height: 38px;"><i class="fa fa-search"></i></button></span>
              </div>
              <!-- <div class="search-box">
                <button class="btn-search"><i class="fa fa-search"></i></button>
                <input type="text" class="input-search" placeholder="Type to Search...">
              </div> -->
            </li>

            <li class="dropdown user user-menu">
              <a>
                <i class="fa fa-exchange text-success"></i>
                <span class="hidden-xs text-dark">Changelog<sup style="background-color: #e26a6a;font-size:15px;color: white;">Jun 28</sup></span>

              </a>
            </li>

            <li class="dropdown user user-menu">
              <a>
                <i class="fa fa-history text-info"></i>
                <span class="hidden-xs text-dark">User Review</span>
              </a>
            </li>
            <li class="dropdown user user-menu">
              <a id="register_close">
                <i class="fa fa-tags text-warning"></i>
                <span class="hidden-xs text-dark">Buy Asset Tags</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="navbar-custom-menu">

          <ul class="menu-list">

            <li class="user-info-box">
              <div class="user-profile">
                <div class="user-info">
                  <p class="user-name">Admin User</p>
                </div>
                <img class="user-avatar" src="assets/css/patterns/avatar.png"
                  alt="">
              </div>
              <div class="c-dropdown-menu">
                <ul>
                  <li><a>
                   <i class="fa fa-user"></i> My Profile</a></li>
                  <li><a>
                    <i class="fa fa-key"></i> Change Password</a></li>
                  <li><a routerLink="/login">
                    <i class="fa fa-sign-out"></i>Logout</a></li>
                      <hr>
                    <li><a>
                    <i class="fa fa-user"></i> Account Details</a></li>
                    <li><a>
                    <i class="fa fa-diamond"></i>Subscription Plan</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="ShortCut">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="myModalLabel">Today's Summary</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i
              data-feather="x"></i></span></button>
      </div>
      <div class="modal-body">
        <div class="box-body table-responsive">
          <table class="table">
            <tr>
              <td class="ir_w_80">
                Purchase(Only Paid Amount)</td>
              <td><span id="purchase_today_"></span></td>
            </tr>
            <tr>
              <td>Sale(Only Paid Amount)</td>
              <td><span id="sale_today"></span></td>
            </tr>
            <tr>
              <td>Total Tax</td>
              <td><span id="totalVat"></span></td>
            </tr>
            <tr>
              <td>Expense</td>
              <td><span id="Expense"></span></td>
            </tr>
            <tr>
              <td>Supplier Due Payment</td>
              <td><span id="supplierDuePayment"></span></td>
            </tr>
            <tr>
              <td>Customer Due Receive</td>
              <td><span id="customerDueReceive"></span></td>
            </tr>
            <tr>
              <td>Waste</td>
              <td><span id="waste_today"></span></td>
            </tr>
            <tr>
              <td>Balance = (Sale +
                Customer Due Receive) - (Purchase +
                Supplier Due Payment + Expense))</td>
              <td><span id="balance"></span></td>
            </tr>
          </table>

          <br>
          <div id="showCashStatus"></div>

        </div>
      </div>
    </div>
  </div>
</div>
