<section class="main-content-wrapper">
  <section class="content-header">
    <div class="row">
      <div class="col-md-4">
        <h4>
          <i class="fa fa-sliders bgcolortitle"></i> Contract/Software Licenses
        </h4>
      </div>
      <div class="col-md-8 d-flex justify-content-end">
        <div class="col-md-2">

        </div>
        <div class="col-md-2">
          <a class="btn bgcolorbtn text-white border btn-sm pull-left text-white" routerLink="/Advance/AddContract">
            New Contract/License <i class="fa fa-plus"></i>
          </a>
        </div>
        <div class="col-md-1">

        </div>
      </div>
    </div>

  </section>

  <div class="clearfix">
    <div class="box-wrapper">
      <div class="table-box">
        <div class="portlet light bg-inverse" style="background-color: #fff; padding: 10px 0 0 0">
          <div class="queryResult hide"><div class="inputtags"></div></div>
          <div class="portlet-body form">
            <div class="row">
               <div class="col-md-12">
                <div class="bgcolortitle ml-3"><i class="fa fa-list" style="vertical-align: -2px;"></i> <span>List of Contracts / Software Licenses</span></div>
                <hr class="border border-secondary">
                <p class="intro">Display contracts associated with your organization. To create a new contract, click <b>New Contract</b> and enter the necessary information.</p>
               </div>
            </div>
            <div class="row">

              <div class="col-md-2 ml-3">
                <div class="form-group">
                  <div class="input-group">
                      <select class="form-control" id="Category" name="Category">
                              <option value="49289413">Unassigned</option>
                      </select>
                  </div>
              </div>
              </div>

              <div class="col-md-9 ml-5">
                <div class="col-md-2 float-right d-flex justify-content-end">
                    <a class="btn btn-primary btn-sm btn-sm ">
                      <i class="fa fa-cog"></i>Setup Columns
                    </a>
                </div>
                <div class="col-md-2 float-right d-flex justify-content-end">
                    <a class="btn btn-light border btn-sm btn-sm">
                      Import Contract <i class="fa fa-cloud-upload"></i>
                    </a>
                </div>
                <div class="col-md-2 float-right d-flex justify-content-end">
                    <a class="btn btn-circle btn-light border btn-sm">
                      <i class="fa fa-file text-green"></i> Export To Excel
                    </a>
                </div>

              </div>
            </div>
            <div class="row screen">
              <div class="col-md-2 ml-2">

              </div>
          </div>
            <div id="report_location" class="portlet light bg-inverse readyPanel">
              <div class="portlet-body form">
                  <div id="ss_custom_page">
          <div class="row screen">
            <div class="col-md-6 col-sm-12 ml-3">
              <div class="form-group">
                <select name="iTakeList" aria-controls="assetGrid">
                  <option value="10" selected="">10</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                  <option value="250">250</option>
                </select>
              </div>
            </div>
              <div class="col-md-6 col-sm-12">

              </div>
          </div>
          <!--START-REPORTGRID-->
          <table class="table table-bordered matContracts" id="matContracts">
            <thead>
                <tr>
                    <th class="warning" style="text-align:center"> Active </th>
                            <th>Title</th>
                            <th>Vendor</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                    <th class="warning"> Action </th>
                </tr>
            </thead>
            <tbody>
                  <tr><td colspan="6" class="text-center">No expired contracts.</td></tr>
            </tbody>
        </table>
                  </div>
              </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>




