<section class="main-content-wrapper">
  <section class="content-header">
    <div class="row">
      <div class="col-md-4">
        <h4>
          <i class="fa fa-user bgcolortitle"></i> Customers
        </h4>
      </div>
    </div>

  </section>
  <div class="clearfix">
    <div class="box-wrapper">
      <div class="table-box">
        <div class="portlet light bg-inverse" style="background-color: #fff; padding: 10px 0 0 0">
          <div class="queryResult hide"><div class="inputtags"></div></div>
          <div class="portlet-body form">
            <div class="row">
               <div class="col-md-12">
                <div class="bgcolortitle ml-3"><i class="fa fa-list" style="vertical-align: -2px;"></i> <span> List of Customer</span></div>
                <hr class="border border-secondary">
                <p class="intro">Manage your customers. After you add customers, you can lease assets to them.</p>
               </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="col-md-6">
                  <div class="col-md-2 float-left">
                    <button class="btn btn-success border btn-sm text-white" data-toggle="modal" data-target=".AddSite">
                      Add New Customer <i class="fa fa-plus"></i>
                    </button>
                  </div>
                </div>
                <div class="col-md-6 float-right d-flex justify-content-end">
                      <a class="btn btn-light border btn-sm btn-sm">
                        Import Customer <i class="fa fa-cloud-upload"></i>
                      </a>
                </div>
              </div>
            </div>
            <div class="row m-2">

              <div class="col-md-4 mb-3">
                  <label class="control-label" for="sSearch_1">Search Document</label>
                  <div class="input-group">
                      <input type="text" class="form-control" placeholder="File Name or Description" style="border: none;width: 170px;background-color: #e8e2e1;color: black;">
                      <span class="input-group-btn">
                          <a class="btn default" style="background-color: #d6d4d4;border-radius: initial;height: 38px;"><i class="fa fa-search"></i></a>
                      </span>
                  </div>
              </div>
                  <div class="col-md-2"></div>
              <div class="col-md-6 mt-3 d-flex justify-content-end">
                  <button class="btn btn-light border btn-sm btn-sm">
                    <i class="fa fa-cog"></i> Setup Columns
                  </button>
              </div>
          </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="modal fade AddSite" id="view-assigned-group-role-modal" data-backdrop="static" data-keyboard="false"
    tabindex="-1" role="dialog" aria-labelledby="assignedGroupRoleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title bgcolortitle" id="assignedGroupRoleModalLabel">Add a Customer</h4>
                    <button type="button" class="close" data-dismiss="modal" #addQuestionModal aria-hidden="true">
                        ×
                    </button>
                </div>
                <div class="modal-body">
                  <div class="modal-body">
                    <div class="row mt-3">
                      <div class="col-md-4">
                        <label>Full Name*</label>
                      </div>
                      <div class="col-md-7 form-group">
                        <input autocomplete="off" class="form-control bold border-secondary" name="AssetTagId" type="text">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <label>Company</label>
                      </div>
                      <div class="col-md-7 form-group">
                        <input autocomplete="off" class="form-control bold border-secondary" name="AssetTagId" type="text">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <label>Address1</label>
                      </div>
                      <div class="col-md-7 form-group">
                        <input autocomplete="off" class="form-control bold border-secondary" name="AssetTagId" type="text">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <label>Address2</label>
                      </div>
                      <div class="col-md-7 form-group">
                        <input autocomplete="off" class="form-control bold border-secondary" name="AssetTagId" type="text">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <label>City</label>
                      </div>
                      <div class="col-md-7 form-group">
                        <input autocomplete="off" class="form-control bold border-secondary" name="AssetTagId" type="text">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <label>State</label>
                      </div>
                      <div class="col-md-7 form-group">
                        <input autocomplete="off" class="form-control bold border-secondary" name="AssetTagId" type="text">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <label>Zip</label>
                      </div>
                      <div class="col-md-7 form-group">
                        <input autocomplete="off" class="form-control bold border-secondary" name="AssetTagId" type="text">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <label>Country</label>
                      </div>
                      <div class="col-md-7 form-group">
                        <select class="form-control border-secondary">
                          <option>Select Country</option>
                          <option>Isx</option>
                          <option>Isw</option>
                        </select>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <label>Phone</label>
                      </div>
                      <div class="col-md-7 form-group">
                        <input autocomplete="off" class="form-control bold border-secondary" name="AssetTagId" type="text">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <label>Cell</label>
                      </div>
                      <div class="col-md-7 form-group">
                        <input autocomplete="off" class="form-control bold border-secondary" name="AssetTagId" type="text">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <label>Email</label>
                      </div>
                      <div class="col-md-7 form-group">
                        <input autocomplete="off" class="form-control bold border-secondary" name="AssetTagId" type="text">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <label>Notes</label>
                      </div>
                      <div class="col-md-7 form-group">
                        <textarea  cols="27"></textarea>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">

                      </div>
                      <div class="col-md-3">
                        <a type="submit" name="submit" value="submit" class="btn bgcolorbtn text-white w-100">Submit</a>
                      </div>
                      <div class="col-md-3">
                        <a class="btn bgcolorbtn text-white w-100">Back</a>
                      </div>
                      </div>
                </div>
                <div class="app-modal-footer">

                </div>
            </div>
    </div>
</div>
</div>
