<section class="main-content-wrapper">
  <section class="content-header">
      <h3 class="top-left-header">
         <i class="fa fa-trash bgcolortitle"></i> Dispose
      </h3>
      <hr class="border border-secondary">
      <div class="box-wrapper">
        <p class="intro">Follow your assets every step of the way until they’re gone. Rather than deleting an asset from your database, you can dispose of it and have documentation of its entire life.</p>
        <div class="col-md-2 mt-1" style="margin-left:18px">
          <div class="form-inline-row">
            <div class="form-inline-row"><a data-toggle="modal" data-target=".SelectAsset" class="btn bgcolorbtn text-white btn-sm btn-circle"><i class="fa fa-plus"> </i> Select Assets</a></div>
          </div>
        </div>
      </div>
  </section>
</section>

<div
    class="modal fade SelectAsset"
    id="view-assigned-group-role-modal"
    data-backdrop="static"
    data-keyboard="false"
    tabindex="-1"
    role="dialog"
    aria-labelledby="assignedGroupRoleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title bgcolortitle">Select Assets</h4>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            #addQuestionModal
            aria-hidden="true"
          >
            ×
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <div class="col-md-4 input-group">
                <input type="search" class="form-control" placeholder="Search..." id="query" name="query">
            </div>
        </div>
          <div class="box-wrapper">
            <div class="row screen">
              <div class="col-md-6 col-sm-12">
                <div class="form-group">
                  <select name="iTakeList" aria-controls="assetGrid">
                    <option value="10" selected="">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                    <option value="250">250</option>
                  </select>
                  &nbsp;record
                </div>
              </div>
            </div>
          </div>
          <div
            class="portlet light bg-inverse"
            style="background-color: #fff; padding: 10px 0 0 0"
          >
            <div class="queryResult hide"><div class="inputtags"></div></div>
            <div class="portlet-body form">
              <div class="row screen">
                <div class="col-md-6 col-sm-12">
                  <div class="form-group"></div>
                </div>
                <div class="col-md-6 col-sm-12"></div>
              </div>
              <form class="form-horizontal" role="form" novalidate="novalidate">
                <table class="table table-bordered table-hover" id="list_of_assets">
                  <thead>
                    <tr class="warning">
                      <th class="warning center table-checkbox">
                        <div class="checker">
                          <span
                            ><input
                              type="checkbox"
                              class="group-checkable"
                              onclick="GroupCheck(this)"
                          /></span>
                        </div>
                      </th>

                      <th>Asset Tag ID</th>
                      <th>Description</th>
                      <th>Status</th>
                      <th>Assigned to</th>
                      <th>Site</th>
                      <th>Location</th>

                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td valign="top" colspan="9" class="dataTables_empty">
                        No matching records found
                      </td>
                    </tr>
                  </tbody>
                </table>
              </form>
              <div class="row screen">
                <div class="col-md-6 col-sm-12">
                  <div
                    class="dataTables_info"
                    id="assetGrid_info"
                    role="status"
                    aria-live="polite"
                  >
                    Showing 0 to 0 of 0 records
                  </div>
                </div>
                <div class="col-md-6 col-sm-12">
                  <div
                    class="dataTables_paginate paging_simple_numbers"
                    id="ReportGrid_paginate"
                  ></div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">

                </div>
                <div class="col-md-3">
                  <a type="submit" name="submit" value="submit" class="btn bgcolorbtn text-white  w-100">Add to List</a>
                </div>
                <div class="col-md-3">
                  <a class="btn bgcolorbtn text-white  w-100">Cancel</a>
                </div>
                </div>
            </div>
          </div>
        </div>
        <div class="app-modal-footer"></div>
      </div>
    </div>
  </div>
