<section class="content-header">
  <div class="row">
    <div class="col-md-4">
      <h3 class="top-left-header">
        <i class="fa fa-book text-red"></i> Report<span class="small" style="font-size: 16px;"> Audit History by Site/Location</span>
      </h3>
    </div>
    <div class="col-md-8 d-flex justify-content-end">
      <div class="col-md-3">
        <a class="btn btn-circle btn-light border btn-sm ml-5">
          <i class="fa fa-envelope"></i> Automated Report
        </a>
      </div>
      <div class="col-md-2">
        <a class="btn btn-circle btn-light border btn-sm pull-left ml-4">
          <i class="fa fa-cog"></i> Setup
        </a>
      </div>
      <div class="col-md-1">
      </div>
    </div>
  </div>

</section>
<hr />

<div class="clearfix">
  <div class="box-wrapper">

  </div>
  <div class="portlet light bg-inverse" style="background-color: #fff; padding: 10px 0 0 0">
    <div class="queryResult hide"><div class="inputtags"></div></div>
    <div class="portlet-body form">
      <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-9">
          <div class="col-md-2 float-right">
              <a class="btn btn-primary btn-sm btn-sm">
                <i class="fa fa-file font-green"></i>Export To CSV
              </a>
          </div>
          <div class="col-md-2 float-right">
              <a class="btn btn-light border btn-sm btn-sm">
                <i class="fa fa-file-excel-o text-green"></i> Export To Excel
              </a>
          </div>
          <div class="col-md-2 float-right">
              <a class="btn btn-circle btn-light border btn-sm">
                <i class="fa fa-file text-red"></i> Export To PDF
              </a>
          </div>
          <div class="col-md-1 float-right">
            <a class="btn btn-circle btn-light border btn-sm">
              <i class="fa fa-print text-blue"></i> Print
            </a>
        </div>
          <div class="col-md-3">

          </div>
        </div>
      </div>
      <div class="row screen">
        <div class="col-md-2 ml-2">
            <div class="form-group">
                <label class="control-label" for="Category"><i class="fa fa-map-marker"></i> Site/Location</label>
                <div class="input-group">
                    <select class="form-control" id="Category" name="Category">

                    </select>

                </div>
            </div>
        </div>
    </div>
      <div id="report_location" class="portlet light bg-inverse readyPanel">
        <div class="portlet-body form">
            <div id="ss_custom_page">
    <div class="row screen">
        <div class="col-md-1 ml-3" style="margin-bottom:20px;">
                <div class="iTakeListWrapper">
                    <select id="iTakeList" class="form-control input-xsmall input-inline">
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100" selected="">100</option>
                            <option value="250">250</option>
                    </select>
                </div>
                </div>
        <div class="col-md-6 col-sm-12">

        </div>
    </div>
    <!--START-REPORTGRID-->
    <table class="table table-bordered multiple_table AssetTagReportGrid_Parent " id="reportGrid">
        <tbody>
             <tr class="heading "><td colspan="6">Category: <b>ISB-AP / Admin</b></td></tr>
                <tr><td colspan="5" class="text-center">No assets available.</td></tr>
        </tbody>
    </table>
            </div>
        </div>
    </div>
    </div>
  </div>
</div>

