<section class="main-content-wrapper">
  <section class="content-header">
    <h3 class="top-left-header"><i class="fa fa-envelope bgcolortitle"></i> Automated Reports</h3>
    <hr class="border border-secondary">
    <div class="box-wrapper">
      <div class="bgcolortitle mt-2 ml-3"> <span>List of Automated Reports</span> </div>
      <div class="col-md-12 mt-1" style="margin-left: 18px">
        <h6 class="text-center text-success">No automated report has been added.</h6>
      </div>
    </div>
  </section>
</section>
