<section class="main-content-wrapper">
  <section class="content-header">
    <h3 class="top-left-header"><i class="fa fa-cloud-upload bgcolortitle"></i> Import Wizard</h3>
    <div class="box-wrapper">
      <div class="bgcolortitle"><span>Step 1: Upload File</span></div>
      <hr class="border border-secondary">
      <p class="intro">
        Import assets using an Excel spreadsheet. Download our template, fill it in, and upload. Also download 'Field Limits Info' to make sure your data is within character limits for all fields. There is no limit on the number of assets you can have. But you can import up to 5,000 records in one spreadsheet.
      </p>
      <div class="row">
          <div class="col-md-12">
              <div class="col-md-2">
                <label>Import To*</label>
              </div>
              <div class="col-md-4">
                <select class="form-control border border-secondary">
                  <option>Isx</option>
                  <option>Isw</option>
                </select>
              </div>
              <div class="col-md-2">
                     <a class="btn btn-light border btn-sm btn-circle" ><i class="fa fa-cloud-upload"> </i>Download Template</a>
              </div>
              <div class="col-md-3">
                    <a class="btn btn-light border btn-sm btn-circle" ><i class="fa fa-cloud-upload"> </i>Download Limits and Instruction</a>
             </div>
              <div class="col-md-1">

             </div>
          </div>
      </div>
       <div class="row mt-4">
           <div class="col-md-2 ml-2">
             <label>Select File*</label>
            </div>
            <div class="col-md-4 form-group">
                <input autocomplete="off" class="" name="AssetTagId" type="file" style="height: 56px;">

            </div>
       </div>
      <div class="col-md-6 d-flex justify-content-center">
        <div class="form-inline-row">
            <a class="btn bgcolorbtn text-white btn-sm btn-circle ml-5"><i class="fa fa-cloud-upload"> </i>Upload File</a>
        </div>
      </div>
    </div>
  </section>
</section>
