<section class="main-content-wrapper">
  <section class="content-header">
    <div class="row">
      <div class="col-md-4">
        <h4>
          <i class="fa fa-shield bgcolortitle"></i> Insurance
        </h4>
      </div>
      <div class="col-md-8 d-flex justify-content-end">
          <button class="btn bgcolorbtn text-white btn-sm " routerLink="/Advance/AddInsurance">
            New Insurance Policy <i class="fa fa-plus"></i>
          </button>
      </div>
    </div>

  </section>

  <div class="clearfix">
    <div class="box-wrapper">
      <div class="table-box">
        <div class="portlet light bg-inverse" style="background-color: #fff; padding: 10px 0 0 0">
          <div class="queryResult hide"><div class="inputtags"></div></div>
          <div class="portlet-body form">
            <div class="row">
               <div class="col-md-12">
                <div class="bgcolortitle ml-3"><i class="fa fa-list" style="vertical-align: -2px;"></i><span>List of Insurance Policies</span></div>
                <hr class="border border-secondary">
                <p class="intro">The list below displays insurance policies associated with your organization. Entries in red indicate expired policies. To create a new contract, click New Insurance Policy and enter the necessary information.</p>
               </div>
            </div>
            <div class="row m-2">
              <div class="col-md-4">
                      <select class="form-control" id="Category" name="Category">
                              <option>Insurance Policies</option>
                      </select>
              </div>

              <div class="col-md-8 d-flex justify-content-end">
                  <button class="btn btn-light border btn-sm btn-sm">
                    Import Insurance <i class="fa fa-cloud-upload"></i>
                  </button>
              </div>
            </div>
            <div class="row screen">
              <div class="col-md-2 ml-2">

              </div>
          </div>
            <div id="report_location" class="portlet light bg-inverse readyPanel">
              <div class="portlet-body form">
                  <div id="ss_custom_page">

          <!--START-REPORTGRID-->
          <table class="table table-bordered matContracts" id="matContracts">
            <thead>
                <tr>
                    <th class="warning" style="text-align:center"> Active </th>
                            <th>Description</th>
                            <th>Insurer</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                    <th class="warning"> Action </th>
                </tr>
            </thead>
            <tbody>
                  <tr><td colspan="6" class="text-center">No data available.</td></tr>
            </tbody>
        </table>
                  </div>
              </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>




