<section class="main-content-wrapper">
  <section class="content-header">
      <h3 class="top-left-header">
         <i class="fa fa-puzzle-piece bgcolortitle"></i> Add an Asset
      </h3>
  </section>
  <div class="box-wrapper">
      <!-- general form elements -->
      <div class="table-box">
          <form>
                <div class="bgcolortitle ml-2"><span>Asset Details</span></div>
            <hr class="border border-secondary">
                  <div class="row mt-2 m-3">
                      <div class="col-md-6">
                        <div class="row">
                          <div class="col-md-4">
                            <label>Asset Tag ID*</label>
                          </div>
                          <div class="col-md-8 form-group">
                            <input autocomplete="off" class="form-control bold border border-secondary" name="AssetTagId" type="text">
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-4">
                            <label>Purchase Date</label>
                          </div>
                          <div class="col-md-8 form-group">
                            <input autocomplete="off" class="form-control bold border border-secondary" name="AssetTagId" type="date" placeholder="dd/MM/yyyy">
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-4">
                            <label>Cost</label>
                          </div>
                          <div class="col-md-8 form-group">
                            <input autocomplete="off" class="form-control bold border border-secondary" name="AssetTagId" type="text">
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-4">
                            <label>Serial No</label>
                          </div>
                          <div class="col-md-8 form-group">
                            <input autocomplete="off" class="form-control bold border border-secondary" name="AssetTagId" type="text">
                          </div>
                        </div>
                     </div>
                     <div class="col-md-6">
                      <div class="row">
                        <div class="col-md-4">
                          <label>Purchased from</label>
                        </div>
                        <div class="col-md-8 form-group">
                          <input autocomplete="off" class="form-control bold border border-secondary" name="AssetTagId" type="text">
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-4">
                          <label>Brand</label>
                        </div>
                        <div class="col-md-8 form-group">
                          <input autocomplete="off" class="form-control bold border border-secondary" name="AssetTagId" type="text">
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-4">
                          <label>Model</label>
                        </div>
                        <div class="col-md-8 form-group">
                          <input autocomplete="off" class="form-control bold border border-secondary" name="AssetTagId" type="text">
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-4">
                          <label>Description</label>
                        </div>
                        <div class="col-md-8 form-group">
                          <input autocomplete="off" class="form-control bold border border-secondary" name="AssetTagId" type="text">
                        </div>
                      </div>
                 </div>
                  </div>
                  <div class="bgcolortitle mt-2 ml-2"><span>Site, Location, Category and Department</span></div>
                  <hr class="border border-secondary">
                  <div class="row mt-2 m-3">
                      <div class="col-md-6">
                        <div class="row">
                          <div class="col-md-4">
                            <label>Site</label>
                          </div>
                          <div class="col-md-6 form-group">
                            <select class="form-control border border-secondary">
                              <option>Isx</option>
                              <option>Isw</option>
                            </select>
                          </div>
                          <div class="col-md-2">
                            <div class="form-inline-row">
                               <a data-toggle="modal" data-target=".AddSite" class="btn border btn-sm btn-circle bgcolorbtn text-white" ><i class="fa fa-plus"> </i> New</a></div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-4">
                            <label>Location</label>
                          </div>
                          <div class="col-md-6 form-group">
                            <select class="form-control border border-secondary">
                              <option>Isx</option>
                              <option>Isw</option>
                            </select>
                          </div>
                          <div class="col-md-2 mt-1">
                            <div class="form-inline-row"><a data-toggle="modal" data-target=".AddLocation" class="btn bgcolorbtn text-white border btn-sm btn-circle"><i class="fa fa-plus"> </i> New</a></div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-4">
                            <label>Department</label>
                          </div>
                          <div class="col-md-6 form-group">
                            <select class="form-control border border-secondary">
                              <option>Isx</option>
                              <option>Isw</option>
                            </select>
                          </div>
                          <div class="col-md-2 mt-1">
                            <div class="form-inline-row"><a data-toggle="modal" data-target=".AddDepartment" class="btn bgcolorbtn text-white border btn-sm btn-circle"><i class="fa fa-plus"> </i> New</a></div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="row">
                          <div class="col-md-4">
                            <label>Category</label>
                          </div>
                          <div class="col-md-6 form-group">
                            <select class="form-control border border-secondary">
                              <option>Isx</option>
                              <option>Isw</option>
                            </select>
                          </div>
                          <div class="col-md-2 mt-1">
                            <div class="form-inline-row">
                              <a data-toggle="modal" data-target=".AddCategory" class="btn bgcolorbtn text-white border btn-sm btn-circle"><i class="fa fa-plus"> </i> New</a></div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-4">
                            <label>Sub Category</label>
                          </div>
                          <div class="col-md-6 form-group">
                            <select class="form-control border border-secondary">
                              <option>Isx</option>
                              <option>Isw</option>
                            </select>
                          </div>
                          <div class="col-md-2 mt-1">
                            <div class="form-inline-row"><a data-toggle="modal" data-target=".AddSubCategory" class="btn bgcolorbtn text-white border btn-sm btn-circle"><i class="fa fa-plus"> </i> New</a></div>
                          </div>
                        </div>

                      </div>
                  </div>

                  <div class="bgcolortitle mt-2 ml-2"><span>Depreciation</span></div>
                  <hr class="border border-secondary">
                  <div class="row mt-2 m-3">
                        <div class="col-md-6">
                          <div class="row">
                            <div class="col-md-4">
                              <label>Depreciable Asset</label>
                            </div>
                            <div class="col-md-8">
                                  <input type="radio" id="Yes" name="Yes" value="Yes">
                                    <label for="Yes">Yes</label>
                                    <input type="radio" id="No" name="Yes" value="No">
                                    <label for="No">No</label>
                            </div>
                          </div>
                          <div class="row mt-4">
                            <div class="col-md-4">
                              <label>Depreciable Cost</label>
                            </div>
                            <div class="col-md-8 form-group">
                              <input autocomplete="off" class="form-control bold border border-secondary" name="AssetTagId" type="text">
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-4">
                              <label>Salvage Value</label>
                            </div>
                            <div class="col-md-8 form-group">
                              <input autocomplete="off" class="form-control bold border border-secondary" name="AssetTagId" type="text">
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="row">
                            <div class="col-md-4">
                              <label>Asset Life (months)</label>
                            </div>
                            <div class="col-md-8 form-group">
                              <input autocomplete="off" class="form-control bold border border-secondary" name="AssetTagId" type="number">
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-4">
                              <label>Depreciation Method</label>
                            </div>
                            <div class="col-md-8 form-group">
                              <select class="form-control border border-secondary">
                                <option>Isx</option>
                                <option>Isw</option>
                              </select>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-4">
                              <label>Date Acquired</label>
                            </div>
                            <div class="col-md-8 form-group">
                              <input autocomplete="off" class="form-control bold border border-secondary" name="AssetTagId" type="date">
                              <span class="help-block">Depreciation begin date</span>
                            </div>
                          </div>
                        </div>
                  </div>
                  <div class="bgcolortitle mt-2 ml-2"><span>Asset Photo</span></div>
                  <hr class="border border-secondary">
                  <div class="row">
                      <div class="col-md-12">
                        <div class="form-inline-row text-center"><a  data-toggle="modal" data-target=".ChooseImage" class="btn btn-success border btn-sm btn-circle text-white">Choose File</a></div>
                      </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-md-8">

                    </div>
                    <div class="col-md-2">
                      <div class="mb-2">
                        <a class="btn bgcolorbtn text-white w-100">Back</a>
                      </div>
                    </div>
                      <div class="col-md-2">
                        <div class="mb-2">
                          <a type="submit" name="submit" value="submit" class="btn bgcolorbtn text-white w-100">Submit</a>
                      </div>
                      </div>
                  </div>
          </form>
      </div>
  </div>
</section>
<div class="modal fade AddSite" id="view-assigned-group-role-modal" data-backdrop="static" data-keyboard="false"
    tabindex="-1" role="dialog" aria-labelledby="assignedGroupRoleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title bgcolortitle" id="assignedGroupRoleModalLabel">Add a Site</h4>
                    <button type="button" class="close" data-dismiss="modal" #addQuestionModal aria-hidden="true">
                        ×
                    </button>
                </div>
                <div class="modal-body">
                  <div class="modal-body">
                    <p class="intro" style="display: block;">Enter the data about your new site in the fields below and we will add it to your list.</p>
                    <div class="row mt-3">
                      <div class="col-md-4">
                        <label>Site*</label>
                      </div>
                      <div class="col-md-7 form-group">
                        <input autocomplete="off" class="form-control bold border border-secondary" name="AssetTagId" type="text">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <label>Description</label>
                      </div>
                      <div class="col-md-7 form-group">
                        <input autocomplete="off" class="form-control bold border border-secondary" name="AssetTagId" type="text">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <label>Address</label>
                      </div>
                      <div class="col-md-7 form-group">
                        <input autocomplete="off" class="form-control bold border border-secondary" name="AssetTagId" type="text">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <label>Apt./Suit</label>
                      </div>
                      <div class="col-md-7 form-group">
                        <input autocomplete="off" class="form-control bold border border-secondary" name="AssetTagId" type="text">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <label>City</label>
                      </div>
                      <div class="col-md-7 form-group">
                        <input autocomplete="off" class="form-control bold border border-secondary" name="AssetTagId" type="text">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <label>State</label>
                      </div>
                      <div class="col-md-7 form-group">
                        <input autocomplete="off" class="form-control bold border border-secondary" name="AssetTagId" type="text">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <label>Postal Code</label>
                      </div>
                      <div class="col-md-7 form-group">
                        <input autocomplete="off" class="form-control bold border border-secondary" name="AssetTagId" type="text">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <label>Country</label>
                      </div>
                      <div class="col-md-7 form-group">
                        <select class="form-control border border-secondary">
                          <option>Isx</option>
                          <option>Isw</option>
                        </select>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">

                      </div>
                      <div class="col-md-3">
                        <a type="submit" name="submit" value="submit" class="btn bgcolorbtn text-white w-100">Submit</a>
                      </div>
                      <div class="col-md-3">
                        <a class="btn bgcolorbtn text-white w-100">Back</a>
                      </div>
                      </div>
                </div>
                <div class="app-modal-footer">

                </div>
            </div>
    </div>
</div>
</div>

<div class="modal fade AddCategory" id="view-assigned-group-role-modal" data-backdrop="static" data-keyboard="false"
    tabindex="-1" role="dialog" aria-labelledby="assignedGroupRoleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title bgcolortitle" id="assignedGroupRoleModalLabel">Add a Category</h4>
                    <button type="button" class="close" data-dismiss="modal" #addCategoryModal aria-hidden="true">
                        ×
                    </button>
                </div>
                <div class="modal-body">
                  <div class="modal-body">
                    <p class="intro" style="display: block;">If you want to add a new category of assets, you’re in the right spot. Add a category for computer equipment, wireless keyboards, or any assets you’re working with.</p>
                    <div class="row mt-3">
                      <div class="col-md-4">
                        <label>Category*</label>
                      </div>
                      <div class="col-md-7 form-group">
                        <input autocomplete="off" class="form-control bold border border-secondary" name="AssetTagId" type="text">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">

                      </div>
                      <div class="col-md-3">
                        <a type="submit" name="submit" value="submit" class="btn bgcolorbtn text-white w-100">Submit</a>
                      </div>
                      <div class="col-md-3">
                        <a class="btn bgcolorbtn text-white w-100">Back</a>
                      </div>
                      </div>
                </div>
                <div class="app-modal-footer">
                </div>
            </div>
    </div>
</div>
</div>

<div class="modal fade AddLocation" id="view-assigned-group-role-modal" data-backdrop="static" data-keyboard="false"
    tabindex="-1" role="dialog" aria-labelledby="assignedGroupRoleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title bgcolortitle" id="assignedGroupRoleModalLabel">Add a Location</h4>
                    <button type="button" class="close" data-dismiss="modal" #addCategoryModal aria-hidden="true">
                        ×
                    </button>
                </div>
                <div class="modal-body">
                  <div class="modal-body">
                    <p class="intro" style="display: block;">Enter the data about your new location in the fields below and we will add it to your list.</p>
                    <div class="row">
                      <div class="col-md-4">
                        <label>Site*</label>
                      </div>
                      <div class="col-md-7 form-group">
                        <select class="form-control border border-secondary">
                          <option>Isx</option>
                          <option>Isw</option>
                        </select>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <label>Location*</label>
                      </div>
                      <div class="col-md-7 form-group">
                        <input autocomplete="off" class="form-control bold border border-secondary" name="AssetTagId" type="text">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                      </div>
                      <div class="col-md-3">
                        <a type="submit" name="submit" value="submit" class="btn bgcolorbtn text-white w-100">Submit</a>
                      </div>
                      <div class="col-md-3">
                        <a class="btn bgcolorbtn text-white w-100">Back</a>
                      </div>
                      </div>
                </div>
                <div class="app-modal-footer">
                </div>
            </div>
    </div>
</div>
</div>

<div class="modal fade AddSubCategory" id="view-assigned-group-role-modal" data-backdrop="static" data-keyboard="false"
    tabindex="-1" role="dialog" aria-labelledby="assignedGroupRoleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title bgcolortitle" id="assignedGroupRoleModalLabel">Add a Sub Category</h4>
                    <button type="button" class="close" data-dismiss="modal" #addCategoryModal aria-hidden="true">
                        ×
                    </button>
                </div>
                <div class="modal-body">
                  <div class="modal-body">
                    <p class="intro" style="display: block;">Enter the data about your new sub category in the fields below and we will add it to your list.</p>
                    <div class="row">
                      <div class="col-md-4">
                        <label>Category*</label>
                      </div>
                      <div class="col-md-7 form-group">
                        <select class="form-control border border-secondary">
                          <option>Isx</option>
                          <option>Isw</option>
                        </select>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <label>Sub Category*</label>
                      </div>
                      <div class="col-md-7 form-group">
                        <input autocomplete="off" class="form-control bold border border-secondary" name="AssetTagId" type="text">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                      </div>
                      <div class="col-md-3">
                        <a type="submit" name="submit" value="submit" class="btn bgcolorbtn text-white w-100">Submit</a>
                      </div>
                      <div class="col-md-3">
                        <a class="btn bgcolorbtn text-white w-100">Back</a>
                      </div>
                      </div>
                </div>
                <div class="app-modal-footer">
                </div>
            </div>
    </div>
</div>
</div>

<div class="modal fade AddDepartment" id="view-assigned-group-role-modal" data-backdrop="static" data-keyboard="false"
    tabindex="-1" role="dialog" aria-labelledby="assignedGroupRoleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title bgcolortitle" id="assignedGroupRoleModalLabel">Add a Department</h4>
                    <button type="button" class="close" data-dismiss="modal" #addCategoryModal aria-hidden="true">
                        ×
                    </button>
                </div>
                <div class="modal-body">
                  <div class="modal-body">
                    <p class="intro" style="display: block;">Add departments that own or house the particular assets. Make them as broad or as specific as you want. Departments can be 'Accounting', 'Marketing', or 'Executive'. Customize to your particular need.</p>
                    <div class="row">
                      <div class="col-md-4">
                        <label>Department*</label>
                      </div>
                      <div class="col-md-7 form-group">
                        <input autocomplete="off" class="form-control bold border border-secondary" name="AssetTagId" type="text">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                      </div>
                      <div class="col-md-3">
                        <a type="submit" name="submit" value="submit" class="btn bgcolorbtn text-white w-100 ">Submit</a>
                      </div>
                      <div class="col-md-3">
                        <a class="btn bgcolorbtn text-white w-100">Back</a>
                      </div>
                      </div>
                </div>
                <div class="app-modal-footer">
                </div>
            </div>
    </div>
</div>
</div>

<div class="modal fade ChooseImage" id="view-assigned-group-role-modal" data-backdrop="static" data-keyboard="false"
    tabindex="-1" role="dialog" aria-labelledby="assignedGroupRoleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title bgcolortitle" id="assignedGroupRoleModalLabel">Select Image</h4>
                    <button type="button" class="close" data-dismiss="modal" #addCategoryModal aria-hidden="true">
                        ×
                    </button>
                </div>
                <div class="modal-body">
                  <div class="modal-body">
                    <div id="crop-avatar">
                        <div id="upload-image">
                                    <div class="avatar-upload">
                                        <label for="avatarInput">Upload your Photo</label>
                                        <input accept="image/png,image/jpeg,image/gif,image/jpg" class="avatar-input" id="avatarInput" name="avatarInput" type="file" value="">
                                        <p class="help-block">Only (<strong>JPG, GIF, PNG</strong>) are allowed</p>
                                    </div>
                                </div>
                   </div>
                   <hr>
                <div class="app-modal-footer">
                  <div class="row">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-3">
                      <a type="submit" name="submit" value="submit" class="btn bgcolorbtn text-white w-100">Uploads</a>
                    </div>
                    </div>
                </div>
            </div>
    </div>
</div>
</div>
</div>




