<section class="main-content-wrapper">
  <section class="content-header">
      <h3 class="top-left-header">
         <i class="fa fa-puzzle-piece bgcolortitle"></i> Add an Contract<span style="font-size: 15px;"> / Software License</span>
      </h3>
  </section>
  <div class="box-wrapper">
      <!-- general form elements -->
      <div class="table-box">
          <form>
            <div class="bgcolortitle"><span>Add a Contract / Software License</span>
              <hr class="border border-secondary">
            </div>
            <p class="intro">Include detailed information for your new contracts. Then, tag specific assets on the <b>Contract View</b> page.</p>
            <div class="">
              <div class="row m-3">
                  <div class="col-md-6">
                    <div class="row">
                      <div class="col-md-4">
                        <label>Contract Title*</label>
                      </div>
                      <div class="col-md-8 form-group">
                        <input autocomplete="off" class="form-control bold border-secondary" name="AssetTagId" type="text">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <label>Contact No.</label>
                      </div>
                      <div class="col-md-8 form-group">
                        <input autocomplete="off" class="form-control bold border-secondary" name="AssetTagId" type="text">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <label>Cost</label>
                      </div>
                      <div class="col-md-8 form-group">
                        <input autocomplete="off" class="form-control bold border-secondary" name="AssetTagId" type="text">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <label>Start Date*</label>
                      </div>
                      <div class="col-md-8 form-group">
                        <input autocomplete="off" class="form-control bold border-secondary" name="AssetTagId" type="date">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <label>End Date*</label>
                      </div>
                      <div class="col-md-8 form-group">
                        <input autocomplete="off" class="form-control bold border-secondary" name="AssetTagId" type="date">
                      </div>
                    </div>
                    <div class="row ml-5">
                      <div class="col-md-3">

                      </div>
                      <div class="col-md-1">
                        <div class="checkbox-list">
                            <div class="checker" id="uniform-noEndDate"><span class=""><input data-val="true" data-val-required="No end date (Yes/No) is required." id="noEndDate" name="noEndDate" type="checkbox" value="true"></span></div><input name="noEndDate" type="hidden" value="false">
                        </div>
                    </div>
                     <div class="col-md-8">
                         <div class="checkbox-list">
                             <label for="noEndDate">No end date</label>
                         </div>
                     </div>
                    </div>
                 </div>
                 <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-4">
                      <label>Hyperlink</label>
                    </div>
                    <div class="col-md-8 form-group">
                      <input autocomplete="off" class="form-control bold border-secondary" name="AssetTagId" type="text">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <label>Vendor</label>
                    </div>
                    <div class="col-md-8 form-group">
                      <input autocomplete="off" class="form-control bold border-secondary" name="AssetTagId" type="text">
                    </div>
                  </div>
                  <div class="row">
                    <!-- <div class="col-md-1"></div> -->
                    <div class="col-md-4">
                      <label>Contact Person</label>
                    </div>
                    <div class="col-md-8 form-group">
                      <input autocomplete="off" class="form-control bold border-secondary" name="AssetTagId" type="text">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <label>Phone</label>
                    </div>
                    <div class="col-md-8 form-group">
                      <input autocomplete="off" class="form-control bold border-secondary" name="AssetTagId" type="text">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <label>No. of License</label>
                    </div>
                    <div class="col-md-8 form-group">
                      <input autocomplete="off" class="form-control bold border-secondary" name="AssetTagId" type="text">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">

                    </div>
                    <div class="col-md-1 d-flex">
                      <div class="checkbox-list">
                          <div class="checker" id="uniform-noEndDate"><span class=""><input data-val="true" id="noEndDate" name="noEndDate" type="checkbox" value="true"></span></div>
                      </div>
                   </div>
                   <div class="col-md-7">
                       <div class="checkbox-list">
                           <label for="noEndDate">Contract is for Software</label>
                       </div>
                   </div>
                  </div>
             </div>
              </div>

              <div class="row mt-3">
                <div class="col-md-8">
                </div>
                <div class="col-md-2">
                  <div class="mb-2">
                    <a class="btn bgcolorbtn text-white w-100" type="submit" routerLink="/Advance/ContractLicense">Back</a>
                  </div>
                </div>
                  <div class="col-md-2">
                    <div class="mb-2">
                      <a type="submit" name="submit" value="submit" class="btn bgcolorbtn text-white w-100">Submit</a>
                  </div>
                  </div>
              </div>
            </div>


          </form>
      </div>
  </div>
</section>
